<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fason</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/sass/styles.css">
	<link rel="stylesheet" href="../css/header.css">
	<link rel="stylesheet" href="/css/niceselect.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.0/jquery-confirm.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/fontawesomestarso.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,700">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
	<link rel="stylesheet" href="/css/navigation.css">
	<link href="/src/css/lightbox.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="full-page loading-page">
	  {{> loading}}
	</div>
	{{{body}}}
	<script type="text/javascript">
	$(window).load(function(){
		 // PAGE IS FULLY LOADED
		 // FADE OUT YOUR OVERLAYING DIV
		 $('.loading-page').fadeOut();
	});
	</script>
	<script src="/js/header.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="/js/stylebox.js"></script>
	<script src="/js/jquery.barrating.js"></script>
	<script src="//js.pusher.com/4.0/pusher.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.0/jquery-confirm.min.js"></script>
	<script src="/js/icheck.min.js"></script>
	<script src="/src/js/lightbox.js"></script>
	<script src="/js/spinner.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
	<script type="text/javascript" src="/js/readmore.min.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="/js/textcounter.min.js"></script>
	<script type="text/javascript" src="/js/newpwd.js"></script>
	<script type="text/javascript" src='/js/bootstrap-datetimepicker.min.js'></script>
	<script type="text/javascript" src='/js/datefr.js'></script>
</body>
</html>
