<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="fason, relooking, stylistes, relookers particuliers, mode, fashion">
	<meta name="description" content="Fason est la première plateforme de mode qui vous met en relation avec des relookers particuliers." />
	<title>Fason</title>
	<link rel="icon"
      type="image/png"
      href="/images/baab.png" />
</head>
<body>
	{{#if user}}
		{{#if user.connu}}
			<div class="full-page connu-page">
			  {{> connu}}
			</div>
		{{/if}}
	{{/if}}
	<div class="full-page loading-page">
	  {{> loading}}
	</div>
		{{{body}}}
	<script type="text/javascript">
	$(window).load(function(){
		 $('.loading-page').fadeOut();
	});
	</script>
	<script src="//js.pusher.com/4.0/pusher.min.js"></script>
	<script src="/js/header.js"></script>
	{{#if user}}
		{{#if user.connu}}
		<link rel="stylesheet" href="../css/niceselect.css">
			<script type="text/javascript">
				$('.commentconnubtn').on('click', function(){
					var moyen = $('.selectconnu').val();
					 if(moyen != "Moyen"){
						 $.ajax({
							 url: '/connu',
							 method: 'POST',
							 contentType: 'application/json',
							 data: JSON.stringify({"moyen": moyen}),
							 success: function(response){
								 if(response.saveok){
									 $('.commentconnu').text("Merci !");
									 $('.connu-page').delay(500).fadeOut(400);
								 }
							 }
						 })
					 }
				});
			</script>
		{{/if}}
	{{/if}}
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/header.css">
</body>
</html>
