<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fason</title>
	<script src="/js/jquery.min.js"></script>
</head>
<body>
	<div class="full-page loading-page">
	  {{> loading}}
	</div>
	{{#if user}}
		{{#if user.connu}}
			<div class="full-page connu-page">
			  {{> connu}}
			</div>
		{{/if}}
	{{/if}}
	{{{body}}}
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(window).load(function(){
		 $('.loading-page').fadeOut();
	});
	</script>
	<script src="//js.pusher.com/4.0/pusher.min.js"></script>
	<script src="/js/header.js"></script>
	<script src="/js/spinner.js"></script>
	{{#if user}}
		{{#if user.connu}}
		<link rel="stylesheet" href="../css/niceselect.css">
			<script type="text/javascript">
				$('.commentconnubtn').on('click', function(){
					var moyen = $('.selectconnu').val();
					 if(moyen != "Moyen"){
						 $.ajax({
							 url: '/connu',
							 method: 'POST',
							 contentType: 'application/json',
							 data: JSON.stringify({"moyen": moyen}),
							 success: function(response){
								 if(response.saveok){
									 $('.commentconnu').text("Merci !");
									 $('.connu-page').delay(500).fadeOut(400);
								 }
							 }
						 })
					 }
				});
			</script>
		{{/if}}
	{{/if}}
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="/css/styles.css"> -->
</body>
</html>
