
<button type="button" name="button" class="btn btn-info everybody">send to all users</button>

<button type="button" name="button" class="btn btn-info relookerall">Send to relookers</button>

<button type="button" name="button" class="btn btn-info clientsall">Send to no relookers</button>

<button type="button" name="button" class="btn btn-info relookerno">Send to with no looks</button>
<script src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/adminp.js"></script>
