
<div class="row text-center">
  <button type="button" name="button" class="btn btn-info everybody">Send to all users relookers and clients</button><br>

  <button type="button" name="button" class="btn btn-info relookerall">Send to relookers</button><br>

  <button type="button" name="button" class="btn btn-info clientsall">Send to no relookers all simple clients</button><br>

  <button type="button" name="button" class="btn btn-info relookerno">Send to without looks with stylist status true</button><br>
</div>

<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <input placeholder="le sujet ici bro" class="subject"><br>
    <textarea class="message" placeholder="Taper le message avec <br> pour aller a la ligne et utiliser h1 h2 de html c'est un message HTML"rows="8" cols="80"></textarea>
  </div>
</div>
<script src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/adminp.js"></script>
