
<div class="row text-right close-row">
    <div class="col-md-12"><i class="fa fa-times close-icon"></i></div>
</div>

<div id="apropos-container">
  <div class="row text-center text-apropose">
    <h3>FASON : stylistes personnels, shoppers personnels</h3>
  </div>
  <div class="row text-apropose text-left">
    <p>Fason est la première plateforme mode qui vous met en relation avec des relookers particuliers. Ils vous aideront à trouver un look en adéquation avec votre image et vos goûts, tout en optimisant votre temps et budget.</p>
  </br>
  </div>
  <div class="row general-row text-apropose stylist-infos-row" style="border-bottom: 1px solid rgb(224,224,224);padding: 0 5px;">
    <h3>Services de relooking</h3>
    <h4 class="notesh4">Services relooking vestimentaire</h4>
    <div class="col-md-6 col-sm-12 general-column">
      <p>Shopping à votre place</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 general-column">
      <p>Accompagnement shopping</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 general-column">
      <p>Tri de la garde-robe</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 general-column">
      <p>Faire un tour des prêts-à-porter</p>
    </div>
  </div>

  <div class="row general-row text-apropose stylist-infos-row" style="border-bottom: 1px solid rgb(224,224,224);padding: 0 5px;">
    <h4 class="notesh4">Services relooking beauté</h4>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Maquillage</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Coiffure</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Coloration</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Manucure</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Pédicure</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Sourcils</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Soins du visage</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Soins du corps</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Taille de barbe</p>
    </div>
  </div>

  <div class="row general-row text-apropose stylist-infos-row" style="border-bottom: 1px solid rgb(224,224,224);padding: 0 5px;">
    <h4 class="notesh4">Cours de relooking</h4>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Maquillage</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Coiffure</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Coloration</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Manucure</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Pédicure</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Sourcils</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Soins du visage</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Soins du corps</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Taille de barbe</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Couleurs</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 general-column">
      <p>Morphologie</p>
    </div>
  </div>
  <div class="row general-row text-apropose stylist-infos-row text-right">
    <form class="" action="/search" method="post">
          <button class="apropos-search-button" type="submit" id="home-search-btn">Relookers personnels</button>
    </form>
  </div>
</div>
<script src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/restylenavbar.css">
<link rel="stylesheet" href="../css/headerpadding.css">
