
<div class="row text-right close-row">
    <div class="col-md-12"><i class="fa fa-times close-icon"></i></div>
</div>

<div class="container" id="apropos-container">
  <div class="row text-center">
    <h1>FASON</h1>
  </div>
  <div class="row text-apropose text-left">
    <p>Fason est la première plateforme de mode qui vous met en relation avec des relookers particuliers. Ils vous aideront à trouver un look en adéquation avec votre image et vos goûts, tout en optimisant votre temps et budget.</p></br>
    <p>Retrouvez les services suivants :</p>
    <p>- accompagnement shopping ;</p>
    <p>- shopper personnel ;</p>
    <p>- mis en valeur de la garde-robe ;</p>
    <p>- maquillage, coiffure et coloration, manucure et pédicure, sourcils, soins du visage et corps ; </p>
    <p>- tailler la barbe ;</p>
    <p>- faire un tour des prêts-à-porter si vous venez d’arrivez dans la ville.</p>
  </div>
</div>
<script src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/restylenavbar.css">
<link rel="stylesheet" href="../css/headerpadding.css">
