
<link rel="stylesheet" href="../css/restylenavbar.css">
<link rel="stylesheet" href="../css/header-padding.css">
{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}

<div class="container" id="apropos-container">
  <div class="row text-center">
    <h1>FASON</h1>
  </div>
  <div class="row text-apropose text-left">
    <p>Fason est une place de marché mode. Fason met en relation les relookers particuliers et les personnes qui souhaitent se faire accompagner pour le shopping, mettre en valeur la garde-robe ou un shopper personnel. De plus, nos relookers particuliers vous proposent les soins esthétiques.</p> <br>
    <p>Ils vous aideront à trouver un look en adéquation avec votre image et vos goûts tout en optimisant à la fois votre temps et budget. En résumé, les services proposés :</p>
    <p>- accompagnement shopping ;</p>
    <p>- shopper personnel ;</p>
    <p>- mis en valeur de la garde-robe ;</p>
    <p>- cours de marche en talons ;</p>
    <p>- maquillage, coiffure et coloration, manucure et pédicure, épilation, sourcils, soins du visage et corps ; </p>
    <p>- tailler la barbe;</p>
    <p>- faire un tour des prêts-à-porter de la ville si vous venez d’arrivez dans la ville.</p>
  </div>
</div>
