<link rel="stylesheet" href="../css/restylenavbar.css">
<link rel="stylesheet" href="../css/header-padding.css">
<div class="row general-row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 general-column style-left-side">
        <div class="stylebox-fields-container">
          <h2 class="login-register-title visible-xs-block">Devenir relooker</h2>
          <div class="errorsBlock hiddenclass">

          </div>
          <div class="row stylebox-info-input-row general-row">
            <div class="col-md-12 general-column">
              <textarea class="mainLoginInput stylebox-create-textarea stylebox-description about-me" placeholder="Résumez votre expérience dans la mode ou les soins esthétiques : école, blogue ou autre (minimum 200 caractères)."></textarea>
              <div class="stylist-description-span hidden">
                <div class="row visible-xs-block xs-field-info general-row">
                  <p class="xs-field-info-p">Donnez les informations utiles pour le client : expérience, compétences, motivation, etc.</p>
                  </div>
                </div>
            </div>
          </div>
          <div class="row stylebox-info-input-row general-row">
            <div class="col-md-12 general-column">
              <textarea class="mainLoginInput stylebox-create-textarea availability-input" placeholder="Disponibilités hebdomadaires : heures/jours."></textarea>
              <div class="stylist-availability-span hidden ">
                <div class="row visible-xs-block xs-field-info general-row">
                  <p class="xs-field-info-p">Vos disponibilités hebdomadaires sont indispensables pour le client afin de faire la demande de relooking.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-fixed-div">
            <div class="row bottom-menu-row">
              <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6 text-left general-column background-helper zimportant">
              </div>

              <div class="col-lg-9 col-md-9 col-sm-10 col-xs-6 text-right general-column background-helper">
                  <button class="btn btn-default hidden-xs small-size-btn login-register-btn become-stylist-btn" type="button">Suivant </button>
                  <button class="btn btn-default visible-xs-block large-btn login-register-btn become-stylist-btn" type="button">Suivant</button>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs general-column text-center stylebox-create-info-column">
      <div class="stylebox-create-tutorial">
        <h2 class="login-register-title">Informations</h2>
        <div class="row general-row">
          <div class="col-md-12 text-left">
            <h4>Expérience </h4>
            <p>Donnez les informations utiles pour le client : expérience, compétences, motivation, etc.</p>
          </div>
        </div>
        <div class="row general-row">
          <div class="col-md-12 text-left">
            <h4>Disponibilités </h4>
            <p>Vos disponibilités hebdomadaires sont indispensables pour le client afin de faire la demande de relooking.</p>
          </div>
        </div>
      </div>
    </div>
</div>
