{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}
<link rel="stylesheet" href="../css/homenav.css">
<div class="cgu-maine-container row text-center">
  <h1>Conditions générales</h1>
  <div class="cgu-container text-left">
    <h2>1. Objet</h2>
    <p>Fason est une Plateforme qui met en relation les gens qui s’intéressent à la mode et accessible sur le site internet dont l’adresse www.fason.co.</p>
    <p>La présentation des CGU est de vous faire connaître quelles sont les conditions d’utilisation de la Plateforme. Donc, Fason vous invite à les lire attentivement.</p>
    <p>En cliquant sur « Inscrition », vous reconnaissez avoir lu et accepté toutes les présentes conditions générales d’utilisation.</p>
    <p>Fason vous signale qu’elle n’est pas responsable de toute relation contractuelle, contrat ou accord, quelle que soit sa nature de ces derniers, qui sont conclus entre les Membres de Fason.</p>

    <h2>2. Définitions des mots clés</h2>
    <p>Dans les présentes CGU,</p>
    <p> « <strong>Look</strong> » signifie une annonce de service de Codes Vestimentaire/Soins Esthétiques postée sur la Plateforme par un Relooker ;</p>
    <p>« <strong>Site</strong> » est le site internet : www.fason.co ;</p>
    <p>« <strong>CGU</strong> » signifie les présentes Conditions Générales d’Utilisation ;</p>
    <p>« <strong>Fason</strong> » est défini dans l’article 1 ci-dessus ;</p>
    <p>« <strong>Compte</strong> » signifie le compte devant être créé afin de devenir Membre et avoir accès à tous les services de Fason ;</p>
    <p>« <strong>Membre</strong> » signifie toute personne physique ayant créé un Compte sur la Plateforme ;</p>
    <p>« <strong>Relooker</strong> » désigne le Membre qui propose un ou plusieurs service(s) de Codes Vestimentaire/Soins Esthétiques à un autre Membre en contrepartie de prix fixé par le Relooker ;</p>
    <p>« <strong>Membre</strong> non-Relooker » est le Membre qui a fait la demande de Réservation de service de Codes Vestimentaire/Soins Esthétiques ou qui a fixé la date et l’heure pour le service de Codes Vestimentaire/Soins Esthétiques avec le Relooker ;</p>
    <p>« <strong>Codes Vestimentaires</strong> » a le sens de codes vestimentaires et tous les services liés au tenu vestimentaire.</p>
    <p>« <strong>Soins Esthétiques</strong> » a le sens des Soins Esthétiques corporels d’une personne physique.</p>
    <p>« <strong>Confirmation de Réservation</strong> » a la signification qui lui est donnée à l’article 6.2 ci-dessous ;</p>
    <p>« <strong>Prix d’un service de Codes Vestimentaire/Soins Esthétiques</strong> » signifie, pour un service de Codes Vestimentaire/Soins Esthétiques donné, la somme d’argent demandée par le Relooker et acceptée par le Membre non-Relooker.</p>
    <p>« <strong>Plateforme</strong> » a le sens qui lui est donné à l’article 1, ci-dessus ;</p>
    <p>« <strong>Réservation</strong> » est défini dans l’article 6.2 ci-dessous ;</p>
    <p>« <strong>Services</strong> » sont des services rendus par Fason via la Plateforme ;</p>

    <h2>3. Rôle de Fason</h2>
    <p>La Plateforme est une plateforme en ligne qui met en relation les Relookers et Membres non-Relookers. Vous reconnaissez et acceptez que Fason ne fait pas partie à l’accord conclu entre les Membres.</p>
    <p>Fason ne contrôle ni les utilisateurs de la Plateforme, ni ses Membres, ni les Looks, et ni l’égalité de Looks, ni la validité de Looks. Fason ne propose aucun service de Codes Vestimentaire/Soins Esthétiques sur la Plateforme. Fason n’est qu’un intermédiaire facilitant l’accès à la Plateforme.</p>
    <p>Les Membres agissent sous leur seule et entière responsabilité. En sa qualité d’intermédiaire, Fason ne saurait voir sa responsabilité engagée au titre du déroulement effectif d’un service de Codes Vestimentaire/Soins Esthétiques.</p>
    <p>Fason n’est pas responsable de non-paiement du Prix de service de Codes Vestimentaire/Soins Esthétiques, comportement de ses Membres avant, pendant, ou après le service de Codes Vestimentaire/Soins Esthétiques.</p>
    <p>Fason maintiendra la Plateforme accessible non-stop. Mais Fason se réserve le droit d’interrompre son activité temporairement ou pour toujours que ce soit pour une raison technique ou non.</p>

    <h2>4. Inscription sur la Plateforme</h2>

    <h3>4.1. Création de Compte</h3>
    <p>Afin de créer votre Compte, vous devez remplir les champs obligatoires qui sont sur le formulaire d’inscription.</p>
    <p>En créant votre Compte, vous garantissez l’exactitude et la conformité à la réalité et mettre à jour vos informations personnelles.</p>
    <p>En créant un Compte, vous vous engagez à ne communiquer à personne le mot de passe choisi lors de la création de votre Compte. Si vous perdez ou divulguez votre mot de passe, vous vous engagez à en informer Fason immédiatement. Vous êtes seul responsable de l'utilisation de votre Compte par des tiers, à moins que vous n'ayez expressément informé Fason de la perte, de l'utilisation frauduleuse par un tiers ou de la divulgation de votre mot de passe à un tiers.</p>
    <p>En créant un Compte par e-mail, Fason vous demandera de choisir votre mot de passe. Donc vous vous engagez de ne pas communiquer ou divulguer ce mot passe. En cas de perte ou si vous avez moindre doute que ce mot de passe est connu par un tiers, vous vous engagez à en informer Fason et de le changer immédiatement. Par conséquent, vous acceptez d’être le seul responsable de l’utilisation de votre Compte par un tiers, à l’exception de piratage de la Plateforme.</p>
    <p>Créant un Compte sur la Plateforme, vous vous engagez à ne pas en avoir un et de créer et utiliser qu’un seul Compte sous les informations de votre identité personnelle.</p>
    <p>En vous vous servant de la Plateforme et en créant un Compte, vous êtes informé et permettez d’analyser de vos données personnelles par Fason conformément à la loi applicable.</p>

    <h3>4.2. Vérification des informations</h3>
    <p>Afin de détecter/prévenir la fraude, gagner de la confiance des Membres, dans certains cas, Fason vous demandera de confirmer votre e-mail/numéro de téléphone.</p>
    <p>Vous acceptez et reconnaissez que les données dites « vérifiées » veulent uniquement dire qu’un Membre de Fason a passé avec le succès la procédure de vérification par e-mail/numéro de téléphone. Par conséquent, Fason ne vous garantit aucunement la validité ou l’exactitude de l’information passée par le système de vérification.</p>

    <h2>5. Engagement des utilisateurs et Membres de la Plateforme</h2>

    <h3>5.1. Tous les utilisateurs</h3>
    <p>Vous vous engagez à être seul responsable de respecter les CGU et lois applicables à l’utilisation de la Plateforme.</p>
    <p>En vous vous servant de la Plateforme et pendant le service de Codes Vestimentaire/Soins Esthétiques, vous vous engagez à :</p>
    <ul>
      <li>(i) contacter un autre Membre de la Plateforme qu’à des fins de service de Codes Vestimentaire/Soins Esthétiques ;</li>
      <li>(ii) ne pas faire préjudice aux droits, à la propriété intellectuelle, et à la réputation de Fason ;</li>
      <li>(iii) ne pas avoir plus qu’un Compte et ouvrir un Compte pour quelqu’un d’autre ;</li>
      <li>(iv) ne pas communiquer à Fason ou aux autres Membres les fausses ou frauduleuses informations en créant ou mettant à jour votre Compte ;</li>
      <li>(v) n’avoir aucune publication ou aucun comportement sur la Plateforme ou lors de service de Codes Vestimentaire/Soins Esthétiques à caractère violent, vulgaire, pornographique, à connotation sexuelle, agressif, menaçant, xénophobe, harcelant, raciste, incitant à la discrimination, à la violence, à la haine ou encourageant les activités ou l’usage de substances illégales ou contraires aux finalités de la Plateforme ;</li>
      <li>(vi) de faire la Réservation de service de Codes Vestimentaire/Soins Esthétiques uniquement par la Plateforme ;</li>
      <li>(vii) respecter les présentes CGU.</li>
    </ul>

    <h3>5.2. Relookers</h3>
    <p>Lors de l’utilisation de la Plateforme en tant que Relooker, vous vous engagez à :</p>
    <ul>
      <li>(i) être joignable par téléphone par les Membres non-Relooker, au numéro enregistré sur 		votre Compte ;</li>
      <li>(ii) dans le cas de changement de l'heure de rendez-vous/d’empêchement, en informer immédiatement le Membre non-Relookers ;</li>
      <li>(iii) accomplir le service de Codes Vestimentaire/Soins Esthétiques comme décrit dans le Look et respecter les lieux convenus et l'heure de rendez-vous avec les autres Membres ;</li>
      <li>(iv) attendre les Membres non-Relooker sur le lieu de rendez-vous convenu au moins 15 minutes au-delà de l’heure convenue ;</li>
      <li>(v) être joignable par téléphone par Membre non-Relooker, au numéro enregistré sur votre Compte</li>
    </ul>

    <h3>5.3. Membre non-Relookers</h3>
    <p>Lors d’utilisation de la Plateforme en tant que Membre non-Relooker, vous vous engagez à :</p>
    <ul>
      <li>(i) dans le cas de changement de l’horaire/d’empêchement, en informer immédiatement le Relooker ;</li>
      <li>(ii) verser au Relooker le Prix d’un service de Codes Vestimentaire/Soins Esthétiques convenu ;</li>
      <li>(iii) attendre le Relooker sur le lieu de rendez-vous convenu au moins 15 minutes au-delà de l’heure convenue ;</li>
      <li>(iv) être joignable par téléphone par Relooker, au numéro enregistré sur votre Compte ;</li>
      <li>respecter les lieux convenus et l'heure de rendez-vous avec les autres Membres</li>
    </ul>

    <p>Si vous auriez fait la Réservation d’un ou plusieurs service de Codes Vestimentaire/Soins Esthétiques pour le tiers, en accord avec les stipulations de l’article 6.2 ci-dessous, vous vous engagez à être responsable de ce tiers des stipulations du présent article et des CGU.</p>

    <h2>6. Utilisation des Services</h2>

    <h3>6.1. Publication des Looks</h3>
    <p>Si vous êtes Membre et remplissez les conditions ci-dessous, vous avez le droit de créer et publier un ou plusieurs Look(s) sur la Plateforme.</p>
    <p>Vous affirmez que vous êtes le seul responsable, l’exactitude et la véracité de toutes les informations de Look dont vous publiez, et de rende le service de Codes Vestimentaire/Soins Esthétiques selon les informations dans le Look publié.</p>
    <p>À condition que le Look publié soit conforme aux CGU, Fason la publiera sur la Plateforme. Ainsi, tous les utilisateurs de la Plateforme pourront visionner le Look publié.</p>
    <p>Fason se réserve le droit, à sa seule discrétion et sans préavis, de retirer le Look publié et de ne pas en publier un qui ne serait pas conforme aux CGU ou serait considérés portant préjudice à sa Plateforme, son image, ou ses Services.</p>

    <h3>6.2. Réservation et confirmation de réservation du service de Codes Vestimentaire/Soins Esthétiques</h3>
    <p>L’utilisation de tous les Services de Fason par le Membre, que ce soit Relooker ou Membre non-Relooker, est nominative. L’identité du Membre communiqué à Fason ou à un autre Membre doit correspondre à celle de sa pièce d’identité prouvant l’état civil.</p>
    <p>Cependant, Fason permet à ses Membres de réserver un ou plusieurs service(s) Vestimentaire(s)/Soins Esthétiques pour le compte d’un tiers. En conséquence, vous devez communiquer au Relooker, au moment de la Réservation, le numéro de téléphone et le prénom de la personne pour laquelle vous réservez le service de Codes Vestimentaire/Soins Esthétiques. Fason vous interdit strictement de publier ou de gérer un Look pour quelqu’un d’autre.</p>
    <p>Lorsqu’un Membre est intéressé par un Look, il a le droit de faire une demande de Réservation en ligne. Cette demande de Réservation peut être acceptée manuellement par le Relooker.</p>
    <p>Une fois le Relooker accepte cette demande de Réservation, le Membre non-Relooker reçoit une Confirmation de Réservation. Dorénavant, Relooker et Membre non-Relooker sont les seuls responsables de l’exécution de ce contrat.</p>
    <p>Si vous êtes un Relooker, vous devez répondre à toute demande de Réservation durant les 24 heures suivantes. Si vous ne répondez pas à cette demande de Réservation, elle expirera automatiquement après 24 heures.</p>

    <h3>6.3. Système d’avis</h3>
    <p>Fason vous incite à laisser un avis sur un Relooker, dans le cas où vous êtes Membre non-Relooker, ou sur un Membre non-Relooker, dans le cas où vous êtes Relooker, avec lequel vous avez fait un service de Codes Vestimentaire/Soins Esthétiques.</p>
    <p>L’avis laissé par vous ou sur vous est affiché sur la Plateforme 14 jours après le premier commentaire. Votre réponse et l’avis dont vous avez reçu seront publiés sur votre profil.</p>
    <p>Vous reconnaissez et acceptez que si vous avez reçu au moins trois avis et la moyenne des avis reçus est inférieure ou égale 3, alors Fason se réserve le droit de résilier l’accord contractuel entre vous et Fason ou de suspendre votre Compte temporairement ou définitivement.</p>
    <p> <strong>Note :</strong></p>
    <p>Vous acceptez que Fason se réserve le droit de supprimer ou de ne pas rendre public toute réponse ou tout avis dont Fason jugera le contenu de ces deux derniers (la réponse et l’avis) ne pas correspondre aux CGU.</p>

    <h2>7. Limitation d’accès et résiliation de contrat</h2>
    <p>Dans le cas de (i) vous dépassez le seuil visé à l’article 6.3 ci-dessus, (ii) violation des CGU, (iii) Fason est convaincu de croire que ceci est indispensable afin de protéger la Plateforme et ses Membres et donc se réserve le droit :</p>
    <ul>
      <li>(i) supprimer ou ne pas publier tout messages, contenus, demande de Réservation, Look, avis, ou tout contenu publié par vous sur la Plateforme ; et/ou</li>
      <li>(iii) mettre fin sans préavis aux CGU ; et/ou</li>
      <li>(iii) suspendre votre Compte.</li>
    </ul>

    <p>Lorsque cela est indispensable, Fason vous en informera pour que vous puissiez expliquer la situation à Fason. Fason prendra la décision elle-même de mise en place d’une telle mesure ou non.</p>

    <h2>8. Propriété intellectuelle</h2>
    <p>Vous acceptez et reconnaissez que les droits de propriété intellectuelle de tout contenu de la Plateforme, y compris celui fourni par les Membres, appartiennent à Fason. Ce sont les logos, données, textes, images, sons, dessins, graphiques, vidéos, ainsi qu’aux logiciels et bases de données qui assurent leur bon fonctionnement.</p>
    <p>Vous acceptez et reconnaissez que vous n’avez pas le droit de :</p>
    <ul>
      <li>(i) représenter publiquement, modifier ou reproduire la Plateforme et son contenu, à l’exception ce qui est autorisé par Fason ;</li>
      <li>(ii) tenter d’extraire l’intégralité ou une partie des données de la plateforme quelque soit la méthode d’extraction, notamment extraction à la main ou avec les outils de collecte de données.</li>
    </ul>
    <p>Tout au long de la relation contractuelle avec Fason, vous autorisez Fason de représenter, reproduire ou adapter et vous concédez à Fason le droit d’utiliser les informations personnelles et le contenu que vous fournissez lors de création de votre Compte ou Look afin de les utiliser avec la finalité de la Plateforme.</p>

    <h2>9. Modification des CGU</h2>
    <p>Les CGU sont un accord entre vous et Fason en ce que concerne votre utilisation des Services. </p>
    <p>Fason se réserve le droit de modifier les CGU dans le cas nécessaire. Les modifications apportées aux CGU seront publiées sur la Plateforme avec la date de modification des CGU et vous serez informer de ces modifications.</p>

  </div>
</div>
