<link rel="stylesheet" href="../css/fileinput.min.css">
<link rel="stylesheet" href="../css/niceselect.css">
<div class="stylebox-info-page">
  {{> styleboxinfo}}
</div>

<div class="stylebox-pics-page hidden">
  {{> stylebox-pics}}
</div>
<script type="text/javascript" src="../js/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="../js/textcounter.min.js"></script>
<script type="text/javascript" src="../js/fileinput.js"></script>
<script type="text/javascript" src="../js/themes.js"></script>
<script type="text/javascript" src="../js/stylebox-pics.js"></script>
<script type="text/javascript" src="../js/createstylebox.js"></script>
