
<div class="stylebox-info-page">
  {{> edit-stylebox-info}}
</div>

<div class="stylebox-pics-page hidden">
  {{> edit-stylebox-pics}}
</div>
<script type="text/javascript" src="../js/editstylebox.js"></script>
