
{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}

    <div id="home-header-div" class="hidden-xs" style="background-image: url('/images/back.jpg')">
      <div class="jumbotron home-header-info1">
        <h1 class="text-left" id="jombo-heading1">Fason</h1>
        <p class="text-left" id="jombo-paragraph1">Rencontrez des relookers particuliers et découvrez votre style </p>
      </div>
    </div>

    <div id="home-header-div" class="visible-xs" style="background-image: url('/images/backphone.jpg')">
    </div>
    <div class="visible-xs-block description-for-xs">
      <h1 class="text-left" id="jombo-heading1">Fason</h1>
      <p class="text-left" id="jombo-paragraph1">Rencontrez les relookers particuliers et découvrez votre style </p>
    </div>



{{> searchbar}}

<div class="hidden-xs searchbarpadding"></div>

    <div class="photosContainer">
    <div class="masonryContainer2">
      <div id="gallery1">
        <div class="item-masonry sizer4">
          <img id='2-0' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='2-1' class="item-masonry-photo" src="/images/classic/img2.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='2-2' class="item-masonry-photo" src="/images/classic/img3.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='2-4' class="item-masonry-photo" src="/images/classic/img4.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='2-5' class="item-masonry-photo" src="/images/classic/img5.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='2-3' class="item-masonry-photo" src="/images/classic/img6.gif" alt="">
        </div>
      </div>
    </div>

    <div class="masonryContainer4">
      <div id="gallery3">
        <div class="item-masonry sizer4">
          <img id='4-5' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='4-0' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='4-1' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='4-2' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='4-3' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='4-4' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
      </div>
    </div>

    <div class="masonryContainer3">
      <div id="gallery2">
        <div class="item-masonry sizer4">
          <img id='3-0' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='3-1' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='3-3' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='3-4' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='3-2' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
        <div class="item-masonry sizer4">
          <img id='3-5' class="item-masonry-photo" src="/images/classic/img1.gif" alt="">
        </div>
      </div>
    </div>
  </div>
  {{> footer}}
  <script src="../js/jquery.min.js"></script>
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/niceselect.css">
  <link rel="stylesheet" href="../css/homenav.css">
  <script type="text/javascript" src="../js/jquery.nice-select.min.js"></script>
  <script type="text/javascript" src="../js/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="../js/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="../js/homepage.js"></script>
