
{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}

    <!-- <div id="home-header-div" class="hidden-xs" style="background-image: url(https://s3.amazonaws.com/styleboxphotosbianor/4af92b43fcfa900695a93951ed04adad.jpeg)"> -->
      <div class="jumbotron home-header-info1">
        <h1 class="text-left" id="jombo-heading1">Fason</h1>
        <p class="text-left" id="jombo-paragraph1">Rencontrez des relookers particuliers et découvrez votre style </p>
      </div>
    </div>

    <!-- <div id="home-header-div" class="visible-xs" style="background-image: url(https://s3.amazonaws.com/styleboxphotosbianor/3e457a084faddb0149b86bb07c43a6c0.jpeg)"> -->
    </div>
    <div class="visible-xs-block description-for-xs">
      <h1 class="text-left" id="jombo-heading1">Fason</h1>
      <p class="text-left" id="jombo-paragraph1">Rencontrez les relookers particuliers et découvrez votre style </p>
    </div>



{{> searchbar}}

<div class="hidden-xs searchbarpadding"></div>

    <div class="photosContainer">
    <div class="masonryContainer2">
      <div id="gallery1">
        <div class="item-masonry sizer4">
          <!-- <img id='2-0' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/332cdc2558770b1cd8dead23ec9c0e68.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='2-1' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/5790b775e455c1c116d94f74bcea562f.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='2-2' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/37f7129fe550fcebba4fd43dd0d35156.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='2-4' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/806c768cda2fe0048a043bf913a4b6b5.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='2-5' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/b2a262ce2a31f4c20e0f92a18ae3bf04.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='2-3' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/23e02d25e85ea59e9373baf910f7e4f7.jpeg" alt=""> -->
        </div>
      </div>
    </div>

    <div class="masonryContainer4">
      <div id="gallery3">
        <div class="item-masonry sizer4">
          <!-- <img id='4-5' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/6c88c3b34276838d59485b7c415be75b.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='4-0' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/ef11de3145dc76c2e403acbb64eba58b.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='4-1' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/a998e9c7a6a24b393c58ae3a4a68ad93.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='4-2' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/9b4da9cb1f00c579738e2fe5df10f4d0.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='4-3' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/288b2913d58b7eda265ddd24b5053056.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='4-4' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/e6ab117023dda070fc02c542a4eab8d8.jpeg" alt=""> -->
        </div>
      </div>
    </div>

    <div class="masonryContainer3">
      <div id="gallery2">
        <div class="item-masonry sizer4">
          <!-- <img id='3-0' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/bc12c3cf437690a9b8cec5e716031147.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='3-1' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/1cfe491bdaac10d4780dada0a290fe4d.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='3-3' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/90718ce3918a35c8ef96ffcf9e65fb98.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='3-4' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/1fce8c079c203d95e934be6630466702.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='3-2' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/249fb56d9c117a1cb5027b67c0dc4105.jpeg" alt=""> -->
        </div>
        <div class="item-masonry sizer4">
          <!-- <img id='3-5' class="item-masonry-photo" src="https://s3.amazonaws.com/styleboxphotosbianor/82b22851864ef382495af8bab5930e76.jpeg" alt=""> -->
        </div>
      </div>
    </div>
  </div>
  {{> footer}}
  <link rel="stylesheet" href="../css/niceselect.css">
  <link rel="stylesheet" href="../css/homenav.css">
  <script type="text/javascript" src="../js/jquery.nice-select.min.js"></script>
  <script type="text/javascript" src="../js/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="../js/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="../js/homepage.js"></script>
