{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}

    <div id="home-header-div" class="hidden-xs" style="background-image: url('/images/back.jpg')">
      <div class="jumbotron home-header-info1">
        <h1 class="text-left" id="jombo-heading1">Fason</h1>
        <p class="text-left" id="jombo-paragraph1">Rencontrez des personal stylits et découvrez votre style </p>
      </div>
    </div>

    <div id="home-header-div" class="visible-xs" style="background-image: url('/images/backphone.jpg')">
    </div>
    <div class="visible-xs-block description-for-xs">
      <h1 class="text-left" id="jombo-heading1">Fason</h1>
      <p class="text-left" id="jombo-paragraph1">Rencontrez des personal stylits et découvrez votre style </p>
    </div>

{{> searchbar}}

<div class="hidden-xs searchbarpadding"></div>


{{#if styleboxes}}
    <div id="stylistContainer">
      {{#each styleboxes}}
        {{> stylebox}}
      {{/each}}
    </div>
{{/if}}

<br>
<br>
<br>

<div class="row tutorialContainerMain">
  <div class="row tutorialContainer hidden-sm hidden-xs">
    <div class="row genTuto">
      <h1 class="text-center">Comment ça marche</h1>
    </div>
    <div class="row genTuto descTuto">
      <div class="mdTutoLook col-md-4 col-md-offset-1">
        <div>
          <h3>Recherche d'un look</h3>
          <p>Vous avez un rendez-vous d'affaires, un entretien d'embauche ou de stage ? Vous cherchez un style pour une occasion spéciale (mariage, conférence de presse, etc.) ou tout simplement un look quotidien ? Les personal stylits de Fason vous aideront, quelle que soit l'occasion.</p>
        </div>
      </div>
      <div class="col-md-6 text-center relooking-img">
        <img src="/images/relookingtutorial/first.png" alt="costume rencontre d’affaire, entretien d’embauche, business look, robe de mariage, soirée, rendez-vous avec un mec. recherche un look/style vestimentaire ?">
      </div>
    </div>
    <div class="row genTuto descTuto">
      <div class="col-md-6 text-center relooking-img">
        <img src="/images/relookingtutorial/second.png" alt="styliste personnelle femme / homme, personal shopper">
      </div>
      <div class="mdTutoRecherche col-md-4 col-md-offset-1">
        <div>
          <h3>Trouver un personal stylist</h3>
          <p>Dans la barre de recherche, choisissez les critères qui vous correspondent.</p>
          <p>Avec le critère "Vestimentaire", vous y trouverez tous les services de relooking vestimentaire : accompagnement shopping, tri de la garde-robe, etc.</p>
          <p>En choisissant le critère "Beauté", vous y trouverez tous les services de relooking beauté : maquillage, coiffure et coloration, tailler de barbe, etc.</p>
          <p>En ce qui concerne le critère “Cours”, les stylistes personnels vous y proposent les cours de relooking : morphologie, taille de barbe, couleurs, manucure, etc.</p>
        </div>
      </div>
    </div>
    <div class="row genTuto descTuto">
      <div class="mdTutoChoisirRelooker col-md-4 col-md-offset-1">
        <div>
          <h3>Choisir un personal stylits</h3>
          <p>Choisissez un personal stylit selon son expérience dans la mode, ses notes, le prix horaire du service de relooking et les services de relooking proposés.</p>
        </div>
      </div>
      <div class="col-md-6 text-center relooking-img">
        <img src="/images/relookingtutorial/third.png" alt="prix horaire de relooking, expéreince de shopper personnel, déroulement de relooking personnel">
      </div>
    </div>
    <div class="row genTuto descTuto">
      <div class="col-md-6 text-center relooking-img">
        <img src="/images/relookingtutorial/fourth.png" alt="accord avec le styliste personnel, relooking vestimentraire chez soi, shopping à ma place, contacter du personal stylit">
      </div>
      <div class="mdTutoRDV col-md-4 col-md-offset-1">
        <div>
          <h3>Prendre rendez-vous</h3>
          <p>Avant de prendre le rendez-vous, renseignez-vous sur les disponibilités hebdomadaires de personal stylit.</p>
          <p>Si vous avez des questions supplémentaires par rapport à l'accompagnement shopping, au relooking ou à la mise en valeur de la garde-robe, contactez le personal stylist via le messenger de Fason.</p>
        </div>
      </div>
    </div>
    <div class="row genTuto descTuto">
      <div class="mdTutoFinal col-md-4 col-md-offset-1">
        <div class="">
          <h3>Paiement, évaluation et commenttaire</h3>
          <p>Une fois le service est rendu, payez le personal stylit en liquide. Le paiement online sera mis à disposition bientôt.</p>
          <p>Évaluez et laissez un commentaire de votre expérience de relooking.</p>
        </div>
      </div>
      <div class="col-md-6 text-center relooking-img">
        <img src="/images/relookingtutorial/fifth.png" alt="évaluer le service relooking, commenter le service relooking, payer en liquide le service de relooking">
      </div>
    </div>
    <div class="row genTuto descTuto defTutot">
      <div class="defText col-md-6 col-md-offset-3">
        <h3>Quelques définitions</h3>
        <p><span class="defMot">Personal stylist</span> est une personne qui conseille habituellement les individus de nouvelles tendances de la mode, des styles de vêtements, des couleurs, de la coiffure, du maquillage, et de la barbe et fait le shopping à la place de son client.</p>
      </div>
    </div>
  </div>

  <div class="row tutorialContainer hidden-md hidden-lg">
    <div class="row genTuto">
      <h1 class="text-center">Comment ça marche</h1>
    </div>
    <div class="row genTuto descTuto text-center">
      <h3 class="tutoSubject">Recherche d'un look</h3>
      <div class="row imgTutoRow">
        <img src="/images/relookingtutorial/first.png" alt="costume rencontre d’affaire, entretien d’embauche, business look, robe de mariage, soirée, rendez-vous avec un mec. recherche un look/style vestimentaire ?">
      </div>
      <div class="xsTextdiv col-xs-12 col-sm-10 col-sm-offset-1">
        <p>Vous avez un rendez-vous d'affaires, un entretien d'embauche ou de stage ? Vous cherchez un style pour une occasion spéciale (mariage, conférence de presse, etc.) ou tout simplement un look quotidien ? Les personal stylits de Fason vous aideront, quelle que soit l'occasion.</p>
      </div>
    </div>
    <div class="row genTuto descTuto">
      <h3 class="tutoSubject">Trouver un personal stylist</h3>
      <div class="row imgTutoRow">
        <img src="/images/relookingtutorial/second.png" alt="styliste personnelle femme / homme, personal shopper">
      </div>
      <div class="xsTextdiv col-xs-12 col-sm-10 col-sm-offset-1">
        <p>Dans la barre de recherche, choisissez les critères qui vous correspondent.</p>
        <p>Avec le critère "Vestimentaire", vous y trouverez tous les services de relooking vestimentaire : accompagnement shopping, tri de la garde-robe, etc.</p>
        <p>En choisissant le critère "Beauté", vous y trouverez tous les services de relooking beauté : maquillage, coiffure et coloration, tailler de barbe, etc.</p>
        <p>En ce qui concerne le critère “Cours”, les stylistes personnels vous y proposent les cours de relooking : morphologie, taille de barbe, couleurs, manucure, etc.</p>
      </div>
    </div>
    <div class="row genTuto descTuto">
      <h3 class="tutoSubject">Choisir un personal stylit</h3>
      <div class="row imgTutoRow">
        <img src="/images/relookingtutorial/third.png" alt="prix horaire de relooking, expéreince de shopper personnel, déroulement de relooking personnel">
      </div>
      <div class="xsTextdiv col-xs-12 col-sm-10 col-sm-offset-1">
        <p>Choisissez un personal stylit selon son expérience dans la mode, ses notes, le prix horaire du service de relooking et les services de relooking proposés.</p>
      </div>
    </div>
    <div class="row genTuto descTuto">
      <h3 class="tutoSubject">Prendre rendez-vous</h3>
      <div class="row imgTutoRow">
        <img src="/images/relookingtutorial/fourth.png" alt="accord avec le relooker personnel, relooking vestimentraire chez soi, shopping à ma place, contacter du relooker personnel">
      </div>
      <div class="xsTextdiv col-xs-12 col-sm-10 col-sm-offset-1">
        <p>Avant de prendre le rendez-vous, renseignez-vous sur les disponibilités hebdomadaires de personal stylit.</p>
        <p>Si vous avez des questions supplémentaires par rapport à l'accompagnement shopping, au relooking ou à la mise en valeur de la garde-robe, contactez le personal stylist via le messenger de Fason.</p>
      </div>
    </div>
    <div class="row genTuto descTuto">
      <h3 class="tutoSubject">Paiement, évaluation et commenttaire</h3>
      <div class="row imgTutoRow">
        <img src="/images/relookingtutorial/fifth.png" alt="évaluer le service relooking, commenter le service relooking, payer en liquide le service de relooking">
      </div>
      <div class="xsTextdiv col-xs-12 col-sm-10 col-sm-offset-1">
        <p>Une fois le service est rendu, payez le personal stylit en liquide. Le paiement online sera mis à disposition bientôt.</p>
        <p>Évaluez et laissez un commentaire de votre expérience de relooking.</p>
      </div>
    </div>

    <div class="row genTuto descTuto">
      <h3 class="tutoSubject">Quelques définitions</h3>
      <div class="xsTextDef col-xs-12 col-sm-10 col-sm-offset-1">
        <p><span class="defMot">Personal stylist</span> est une personne qui conseille habituellement les individus de nouvelles tendances de la mode, des styles de vêtements, des couleurs, de la coiffure, du maquillage, et de la barbe et fait le shopping à la place de son client.</p>
      </div>
    </div>
  </div>
</div>

  {{> footer}}
  <script src="../js/jquery.min.js"></script>
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/niceselect.css">
  <link rel="stylesheet" href="../css/tutorial.css">
  <link rel="stylesheet" href="../css/homenav.css">
  <link rel="stylesheet" href="../css/stylebox.css">
  <link rel="stylesheet" href="../css/fontawesomestarso.css">

  <script type="text/javascript" src="../js/jquery.nice-select.min.js"></script>
  <script type="text/javascript" src="../js/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="../js/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="../js/homepage.js"></script>
  <script type="text/javascript" src="../js/jquery.barrating.js"></script>
