<link rel="stylesheet" href="../css/fontawesomestarso.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.0/jquery-confirm.min.css">
{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}
{{#if err}}
  <div class="row errmsgdiv">
    <h1 class="errmsg">{{err}}</h1></br>
    <a href="/createstylebox">Créer un look.</a>
  </div>
{{else}}
  {{#each styleboxes}}
    {{> mystylebox}}
  {{/each}}
{{/if}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.0/jquery-confirm.min.js"></script>
<script type="text/javascript" src="../js/jquery.barrating.js"></script>
