<link rel="stylesheet" href="../css/restylenavbar.css">
<link rel="stylesheet" href="../css/headerpadding.css">
{{> header}}
<div class="container login-container" id="login-container">
  <h2 class="login-register-title">Mot de passe oublié </h2>
  <p class="logn-register-paragraph">Veuillez entrer votre e-mail et appuyer sur le bouton "Valider"</p>
  <div class="row errorsBlock hiddenclass">
  </div>
  <div class="row login-container-row">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-envelope-o email-icon"></i></div>
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
          <input class="input-sm mainLoginInput login-register-text-field reset-email-field-2" style="text-transform:lowercase;" type="text" placeholder="E-mail">
      </div>
  </div>
  <div class="row login-register-btn-row text-right">
      <div>
          <button class="btn btn-default login-register-btn request-password-btn" type="button">Valider</button>
      </div>
  </div>
</div>
<script type="text/javascript" src="../js/newpwd.js"></script>
