{{> header}}
<div class="container login-container" id="login-container">
  <h2 class="login-register-title">Changer mon mot de passe </h2>
  <p class="logn-register-paragraph">Veuillez entrer deux fois votre nouveau mot de passe et appuyer sur valider.</p>
  <div class="row errorsBlock hiddenclass">
  </div>
  <div class="row login-container-row">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-ellipsis-h password-icon"></i></div>
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
          <input class="input-sm mainLoginInput login-register-text-field login-password-field-3" type="password" minlength="6" placeholder="Nouveau mot de passe">
      </div>
  </div>
  <div class="row login-container-row">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-ellipsis-h password-icon"></i></div>
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
          <input class="input-sm mainLoginInput login-register-text-field login-password-field-2" type="password" minlength="6" placeholder="Repetez le mot de passe">
      </div>
  </div>
  <div class="row login-register-btn-row">
      <div>
          <button class="btn btn-default login-register-btn change-password-btn" data-id-token="{{token}}" type="button">Valider</button>
      </div>
  </div>
</div>
