{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}

<div class="intercaler">
</div>
<div class="searchbarzindex">
  {{> searchbar}}
</div>

<!-- changes -->
<div class="styleboxes-search-container">
    {{#if errmsg}}
    <div class="errmsgc">
      <h1 class="errmsg ">{{errmsg}}</h1>
    </div>
    {{/if}}

    {{#if styleboxes}}
        <div id="stylistContainer">
          {{#each styleboxes}}
            {{> stylebox}}
          {{/each}}
        </div>
    {{/if}}
</div>
<!-- changes -->

<script src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/paginathing.js"></script>
<script type="text/javascript" src="../js/paginateOptions.js"></script>
<script type="text/javascript" src="../js/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="../js/jquery.barrating.js"></script>
<script type="text/javascript" src="../js/editcreatebarrating.js"></script>
<script type="text/javascript" src="../js/search.js"></script>

<!-- changes -->
<script type="text/javascript" src="../js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="../js/masonry.pkgd.min.js"></script>
<!-- changes -->

<link rel="stylesheet" href="../css/fontawesomestarso.css">
<link rel="stylesheet" href="../css/niceselect.css">
<link rel="stylesheet" href="./css/searchbarxs.css">
<link rel="stylesheet" href="../css/restylenavbar.css">
<link rel="stylesheet" href="../css/headerpadding.css">
