{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}

<div class="intercaler">
</div>
<div class="searchbarzindex">
  {{> searchbar}}
</div>

<div class="styleboxes-search-container">
    {{#if errmsg}}
    <div class="errmsgc">
      <h1 class="errmsg ">{{errmsg}}</h1>
    </div>
    {{/if}}

  {{#if styleboxes}}
    <div class="masonry-layout">
      {{#each styleboxes}}
      <div class="masonry-layout__panel">
        <div class="masonry-layout__panel-content">
          {{> stylebox}}
        </div>
      </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/paginathing.js"></script>
<script type="text/javascript" src="../js/paginateOptions.js"></script>
<script type="text/javascript" src="../js/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="../js/jquery.barrating.js"></script>
<script type="text/javascript" src="../js/editcreatebarrating.js"></script>
<script type="text/javascript" src="../js/search.js"></script>

<link rel="stylesheet" href="../css/fontawesomestarso.css">
<link rel="stylesheet" href="../css/niceselect.css">
<link rel="stylesheet" href="./css/searchbarxs.css">
<link rel="stylesheet" href="../css/restylenavbar.css">
<link rel="stylesheet" href="../css/headerpadding.css">
<link rel="stylesheet" href="../css/stylebox.css">
