<link rel="stylesheet" href="../css/fontawesomestarso.css">
<link rel="stylesheet" href="../css/niceselect.css">
<link rel="stylesheet" href="./css/searchbarxs.css">
<link rel="stylesheet" href="../css/restylenavbar.css">
<link rel="stylesheet" href="../css/headerpadding.css">
{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}

<div class="intercaler">
</div>
<div class="searchbarzindex">
  {{> searchbar}}
</div>

<div class="styleboxes-search-container">
    {{#if errmsg}}
    <div class="errmsgc">
      <h1 class="errmsg ">{{errmsg}}</h1>
    </div>
    {{/if}}

    {{#if styleboxes}}
      <div class="pagination-looks text-center">
        <ul id="listitems">
          {{#each styleboxes}}
          <li>{{> stylebox}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
</div>
<script type="text/javascript" src="../js/paginathing.js"></script>
<script type="text/javascript" src="../js/paginateOptions.js"></script>
<script type="text/javascript" src="../js/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="../js/jquery.barrating.js"></script>
<script type="text/javascript" src="../js/editcreatebarrating.js"></script>
<script type="text/javascript" src="../js/search.js"></script>
