{{#if user}}
  {{> userheader}}
{{else}}
  {{> header}}
{{/if}}
<div style="padding-left:15px; padding-right:15px;"class="row text-center errorcont">
  <br><br><br><br><br><br>
  <h1>Personal stylist introuvable</h1>
  <p>Cela peut être dû à un lien expiré ou une erreur de serveur.</p>
  <p>Veuillez nous excuser pour la gêne occasionnée.</p>
</div>

<script src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../bootstrap/js/bootstrap.min.js"></script>
