
h1, h2, h3, h4, h5, p, li, span, textarea, button{
  font-family: 'Nunito' !important;
}

a {
  color: #3d3d3d;
  cursor: pointer;
}

a:hover{
  color: #3d3d3d;
  cursor: pointer;
}

.info-p{
  font-size: 0.8em;
}

.paragrapg-border{
  border: 1px solid rgb(224,224,224)
}

.cgu-maine-container{
  background: white;
  padding:50px;
}

.cgu-container{
  background-color:#fff;
  padding:80px;
  border-radius: 2px;
}
.cgu-container p{
  text-align: justify;
}

/*memed*/


.photos-page-container-div h3{
  color: #3d3d3d;
}

.availability-contact-demand-firstName{
  margin-top:0;
}


/*memed*/


.mainLoginInput::-webkit-input-placeholder {
  font-family: 'Nunito' !important;
  font-size: 0.9em;
}

.mainLoginInput:-ms-input-placeholder {
  font-family: 'Nunito' !important;
  font-size: 0.9em;
}

.mainLoginInput:-moz-placeholder {
  font-family: 'Nunito' !important;
  font-size: 0.9em;
}

.mainLoginInput::-moz-placeholder {
  font-family: 'Nunito' !important;
  font-size: 0.9em;
}


@media (max-width:767px) {
  .mainLoginInput::-webkit-input-placeholder {
    font-family: 'Nunito' !important;
    font-size: 0.8em;
  }

  .mainLoginInput:-ms-input-placeholder {
    font-family: 'Nunito' !important;
    font-size: 0.8em;
  }

  .mainLoginInput:-moz-placeholder {
    font-family: 'Nunito' !important;
    font-size: 0.8em;
  }

  .mainLoginInput::-moz-placeholder {
    font-family: 'Nunito' !important;
    font-size: 0.8em;
  }
}

.rowpad{
  padding: 0 !important;
  margin: 0 !important;
}

#home-header-div, #home-header-div2, #home-header-div3 {
  width:100%;
  background-size:cover;
  background-position:top;
  height:90vh;

}

@media (max-width:767px) {
  #home-header-div, #home-header-div2, #home-header-div3 {
    width:100%;
    background-size:cover;
    background-position:center;
    height:80vh;
    position: relative;
    bottom: 30px;

  }
}



div#home-header-div-info-div {
  width:95%;
  height:80%;
  padding-top:40px;
  margin-left:auto;
  margin-right:auto;
  padding-top:40px;
}

nav.navbar.navbar-default {
  background:rgba(247,246,246,0);
  border:none;
  color:white;
  border-radius:0;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color:#fffdfd;
  background-color:transparent;
}

.navbar-default .navbar-brand {
  color:#fefefe;
}

.navbar-default .navbar-nav > li > a {
  color:#ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
  color:#ffffff;
}

div.jumbotron.home-header-info1, div.jumbotron.home-header-info2{
  background:transparent;
  width:30%;
  position: absolute;
  left: 100px;
  top: 150px;

}

div.jumbotron.home-header-info3 {
  position: absolute;
  background:transparent;
  width:30%;
  right: 100px;
  top: 150px;
}

@media (max-width:767px) {
  div.jumbotron.home-header-info1, div.jumbotron.home-header-info2, div.jumbotron.home-header-info3 {
    position: absolute !important;
    width: 90%;
    left: 15px !important;
    bottom: 0 !important;
    padding-top: 100px !important;
    background-color:rgba(96,96,96);
  }
}



h1#jombo-heading1, h1#jombo-heading2  {
  color:rgb(252,252,252);
  font-size:5em;
}

@media (max-width:767px) {
  h1#jombo-heading1, h1#jombo-heading2  {
    color:#3d3d3d !important;
    font-size:3em;
  }
}

p#jombo-paragraph1, p#jombo-paragraph2 {
  font-size:larger;
  color:rgb(254,254,254);
}

@media (max-width:767px) {
  p#jombo-paragraph1, p#jombo-paragraph2 {
    font-size: 1em;
    color:#3d3d3d !important;
  }
}

.description-for-xs{
  width: 90%;
  position: relative;
  bottom: 50px;
  left: 15px;
}

h1#jombo-heading3  {
  color:gray;
  font-size:5em;
}

@media (max-width:767px) {
  h1#jombo-heading3  {
    color:#3d3d3d;
    font-size:3em;
  }
}

p#jombo-paragraph3 {
  font-size:larger;
  color:gray;
}

@media (max-width:767px) {
  p#jombo-paragraph3 {
    font-size:1em;
    color:#3d3d3d;
  }
}

.connection, .register{
  cursor: pointer;
}


@media (max-width:767px) {
  h1#jombo-heading {
    color:#fffdfd;
    margin-left:auto;
    margin-right:auto;
  }
}

div#home-search-container-first-row.row {
  padding:0;
  margin:0;
}

div.col-lg-4.col-md-4.col-sm-4.home-search-row-city {
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

div.col-lg-5.col-md-5.col-sm-5.home-search-row-selections {
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

div.col-lg-3.col-md-3.col-sm-3.home-search-row-seachbtn {
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

input.city-search {
  border-radius:5px 0px 0px 5px;
  width:100%;
  height:70px;
  padding:20px;
  font-size:20px;
  border:1px solid rgb(224,224,224);
}

input.city-search:focus {
  border-left:1px solid rgb(224,224,224);
  outline:none;
  border-bottom:2px solid #ff6063;
  border-radius:0;
  border-top:1px solid rgb(224,224,224);
}

div.container.hidden-xs.home-search-container {
  padding-top:20px;
  padding-bottom:20px;
}

div.col-lg-5.col-md-5.col-sm-5.home-search-row-selections {
  border:none;
}

div.row.search-selection-row {
  margin:0;
}

div.col-lg-6.col-md-6.col-sm-6.selection-column-one {
  margin:0;
  padding:0;
  height:68px;
}

button#home-search-btn.btn.btn-default {
  width:100%;
  border:none;
  height:70px;
  background-color:#ff6063;
  border-radius:0px 5px 5px 0px;
  color:white;
  font-weight:bold;
}

button#home-search-btn.btn.btn-default:hover {
  background-color: #ff8284;
}

div.col-xs-3.home-search-xs-row-column-icon.text-center {
  padding:15px;
  border:none;
}

i.fa.fa-search.home-xs-seach-icon {
  font-size:2.5em;
  color:rgb(249,249,249);
}

div.row.home-xs-search-row {
  background-color:#ff6063;
  border:1px solid #ff6063;
  border-radius:5px;
  width:100%;
  padding:0;
  margin:0;
  height:70px;
}

h2.text-left.home-search-search-title {
  color:#3d3d3d;
}

p.text-left.home-search-paragraph {
  color:rgb(176,175,175);
  font-weight:inherit;
}

div.col-xs-9 {
  height:65px;
  padding:0;
  border:none;
}

button.btn.btn-default.home-xs-search-redirect-btn {
  width:100%;
  border-radius:5px 0px 0px 5px;
  height:68px;
  border:none;
  margin:0;
  padding:0;
  color:gray;
  font-size:30px;
}

button.btn.btn-default.home-xs-search-redirect-btn:hover {
  background-color:white;
}

.close-icon {
  font-size:3em;
  z-index: 999999999999999;
}

input.search-xs-city-field {
  width:100%;
  height:50px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid #e8e8e8;
  padding:15px;
  font-size:1.5em;
}

input.search-xs-city-field:focus {
  border-bottom:2px solid #ff6063;
  border-radius: 0px;
  outline:none;
}

div.container.visible-xs-block.search-xs-container {
  padding-left:40px;
  padding-right:40px;
  padding-bottom:40px;
}

div.row.search-xs-gender-select-row {
  border-right:1px solid white;
  margin-top:20px;
}

button.btn.btn-default.search-xs-searchbtn {
  width:100%;
  border-radius:5px;
  height:50px;
  margin-top:20px;
  background-color:#ff6063;
  color:white;
  font-weight:bold;
  border:none;
}

h2.search-xs-title {
  color:#3d3d3d;
}

p.search-xs-paragraph {
  padding-bottom:40px;
  color:#999999;
}

div.row.login-container-row {
  width:100%;
  margin:0;
  padding:0;
}

@media (max-width:767px) {
  p#jombo-paragraph {
    width:90% !important;
    font-size: 1em !important;
  }
}


i.fa {
  font-size:2.5em;
  color:#e0e0e0;
}

@media (max-width:767px) {
  i.fa {
    font-size:2em;
    color:#e0e0e0;
  }
}

.login-register-filed-style {
  height:70px;
  padding:15px;
  border:1px solid #dbdbdb;
  border-radius:5px 0px 0px 5px;
}

@media (max-width:767px) {
  .login-register-filed-style {
    height:50px;
    padding:5px;
    border:1px solid #dbdbdb;
    border-radius:5px 0px 0px 5px;
  }
}

input.login-register-text-field {
  width:100%;
  height:70px;
  border-top:1px solid #dbdbdb;
  border-bottom:1px solid #dbdbdb;
  border-right:1px solid #dbdbdb;
  border-left:none;
  padding:15px;
  font-size:1.5em;
  border-radius:0px 5px 5px 0px;
}

@media (max-width:767px) {
  input.login-register-text-field {
    width:100%;
    height:50px;
    border-top:1px solid #dbdbdb;
    border-bottom:1px solid #dbdbdb;
    border-right:1px solid #dbdbdb;
    border-left:none;
    padding:15px;
    font-size:1.5em;
    border-radius:0px 5px 5px 0px;
  }
}

input.login-register-text-field:focus {
  outline:none;
  border-bottom:2px solid #ff6063;
  border-top:1px solid rgb(224,224,224);
  border-right:1px solid rgb(224,224,224);
  border-radius:0px;
}

div#login-container.container {
  padding-left:20%;
  padding-right:20%;
  padding-bottom:50px;
}

div.row.login-container-row {
  padding:15px 0;
}

@media (max-width:767px) {
  div#login-container.container {
    padding-left:10px;
    padding-right:10px;
  }
}

div.row.login-register-btn-row {
  width:100%;
  margin:0;
  padding:0;
}

button.btn.btn-default.login-register-btn {
  padding: 16px 30px;
  color:white;
  background-color:#ff6063;
  border:none;
  border-radius:5px;
  font-size: 19px;
}

button.btn.btn-default.login-register-btn:hover{
  background-color: #ff8284;
}

@media (max-width:767px) {
  button.btn.btn-default.login-register-btn {
    width:100%;
    height:60px;
    color:white;
    background-color:#ff6063;
    border:none;
    border-radius:5px;
    font-size: 19px;
  }

  button.btn.btn-default.login-register-btn:hover{
    background-color: #ff8284;
  }

}

div.container.login-register-header-container {
  width:100%;
  margin:0;
  padding-top:100px;
}

h1.login-register-title {
  color:#3d3d3d;
}

p.logn-register-paragraph {
  color:#3d3d3d;
  margin: 0;
  padding: 10px;
}

@media (max-width:767px) {
  div.col-lg-2.col-md-2.col-sm-3.col-xs-3.text-center.login-register-filed-style {
    border-left:none;
    border-top:none;
    border-right:none;
    border-bottom:1px solid rgb(224,224,224);
  }
}

@media (max-width:767px) {
  input.input-sm.login-register-text-field {
    border-left:none;
    border-top:none;
    border-right:none;
    border-bottom:1px solid #dbdbdb;
  }
}

@media (max-width:767px) {
  input.input-sm.login-register-text-field:focus {
    border-left:none;
    border-top:none;
    border-right:none;
    border-bottom:2px solid #ff6063;
    border-radius: 0px;
  }
}

i.icon {
  font-size:3em;
  color:#e0e0e0;
  position: relative;
  bottom: 15px;
}

@media (max-width:767px) {
  i.icon {
    position:relative;
    font-size:3em;
    color:#e0e0e0;
    bottom:15px;
  }
}

div.row.text-left.close-row {
  width:100%;
  padding-left:15px;
  padding-top: 15px;
  margin:0;
  padding-bottom: 0;
  cursor: pointer;
}

.footer-icon {
  font-size:1em !important;
  position: relative;
  top: 1px;
}

.inlinetext{
  display: inline-block;
}

.checkboxestext{
  color: gray;
  display: inline;
  font-size: 0.9em;
  padding-left: 15px;
}

.conditions{
  margin-left: 20px;
}


/*Stylebox and stylebox display*/
.stylebox-container {
  margin-top:20px !important;
  border: 1px solid #e8e8e8;
  background-color: transparent !important;
  margin-left: auto;
  margin-right: auto;
}

.stylebox-image-colum {
  padding:0;
  overflow:hidden;
}

div.row.stylebox-images-row {
  margin:0 !important;
  padding:0px !important;
}

div.image-div {
  height:350px;
  background-size:cover;
  background-position:center;
  margin: 0 !important;
  padding: 0 !important;
}

div.image-div-2 {
  height:350px;
  background-size:cover;
  background-position:center;
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width:767px) {
  div.image-div-2 {
    height:350px;
    background-image:url(../../assets/img/white.jpg);
    background-size:cover;
    background-position:center;
  }
}

div.image-div-3 {
  height:350px;
  background-image:url(../../assets/img/meeting.jpg);
  background-size:cover;
  background-position:center;
}

@media (max-width:767px) {
  div.image-div-3 {
    height:150px;
    background-image:url(../../assets/img/meeting.jpg);
    background-size:cover;
    background-position:center;
  }
}

div.row.stylebox-stylist-info-row {
  padding-left:5px;
  margin:0;
  padding-right:5px;
}

.stylebox-stylist-personal {
  margin:0;
  background-color:transparent;
}

div.stylist-ava {
  border-radius:50%;
  width:50px !important;
  height:50px !important;
  overflow:hidden;
  background-size:cover;
  background-position:center;
  display:inline-block;
  margin-top: 15px !important;
}

@media (max-width:767px) {
  div.stylist-ava {
    width:70px;
    height:70px;
    overflow:hidden;
    background-image:url(../../assets/img/white.jpg);
    background-size:cover;
    display:inline-block;
    background-position:center;
  }
}

.stylist-name {
  padding-bottom:0;
  font-size:1.3em;
  color:#6f7a85;
  padding-top:0;
  font-weight:100;
  margin-top:15px !important;
  margin-bottom:0;
}

@media (max-width:767px) {
  .stylist-name {
    color:#505e6c;
    margin:0;
    padding-top:3px;
    padding-bottom:3px;
    font-size:1em;
  }
}

div.row.stylist-name-row {
  margin:0;
  padding:0;
}

.stylis-ava-column {
  margin:0;
  padding:0;
}

.review {
  color:#ff6063;
  font-size:1.5em;
}

@media (max-width:767px) {
  .review {
    color:#ff6063;
    font-size:1em;
  }
}

.bad {
  color:#6c7178 !important;
}

div.row.style-name-row {
  margin:0;
  width:100%;
}

.stylebox-info-left-column {
  padding:0;
  margin:0;
}

.style-name {
  margin:0;
  padding-top:5px;
  font-size: 1.4em !important;
  color:#3d3d3d !important;
}


div.row.rating-row {
  margin:0;
  padding-left:10px;
}

.rating-column {
  margin:0;
}

.budget-column {
  padding-top:20px;
}

.time-column {
  padding:13px;
}

@media (max-width:767px) {
  div.row.minbudget-row {
    background-color:#30383a;
    padding:12px;
  }
}

.timepricep{
  color: gray;
  padding-top: 10px;
}

.timepricep2{
  position: relative;
  top: 10px;
  font-weight: bold;
  color: #3d3d3d !important;
  font-size: 1.2em !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width:767px) {
  .timepricep2{
    position: relative;
    top: 10px;
    font-weight: bold;
    color: white !important;
    font-size: 1.2em !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}


.inlinep {
  display: inline !important;
}

.stylebox-icon-textes {
  padding-bottom:0;
  font-size:1.3em;
  color:#30383a;
  padding-top:0;
  font-weight:100;
}

@media (max-width:767px) {
  .stylebox-icon-textes {
    font-size:1.3em;
    color:#ededed;
    font-weight:100;
  }
}

.miniinfo {
  color:#b0afaf;
  font-weight:100;
  font-size:0.8em;
}

.stylebox-rating-row{
  position: relative !important;
  top: 3px !important;
}

.searchminiinfo{
  position: relative;
  top: 1px;
  color: #6f7a85;
  left: 30px;
}

.searchminixs{
  position: relative;
  color: #6f7a85;
  top: 3px;
  left: 20px !important;
  font-size: 0.8em;
}

.price-column {
  padding:13px;
}

.general-row {
  margin:0;
  padding:0;
  width:100%;
}

div.stylebox-display-avatar {
  width:120px;
  height:120px;
  border-radius:50%;
  display:inline-block;
  background-size: cover;
  background-position: center;
  margin:5px;
}

.select-avatar{
  width:120px;
  height:120px;
  border-radius:50%;
  display:inline-block;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #e8e8e8;
}

.stylebox-display-stylist {
  border-bottom:1px solid #e8e8e8;
  padding-bottom:20px;
  padding-top:20px;
}


@media (max-width:767px) {
  .stylebox-display-stylist {
    border-bottom:1px solid #e8e8e8;
    padding-bottom:20px;
    padding-top:20px;
  }
}

p.notes-text.inlinep {
  padding-right:10px;
  position:relative;
  bottom:2px;
}

@media (max-width:767px) {
  .mobile-star {
    font-size:0.8em;
  }
}

@media (max-width:991px) {
  .mobile-star {
    font-size:1em;
  }
}

.review-mobile-columns {
  padding-right:3px;
  margin:0;
}

@media (max-width:767px) {
  .notes-text {
    padding-right:5px !important;
    font-size:0.8em;
  }
}

.review-mobile-columns-right {
  padding-left:0;
  margin-left:0;
}

.general-column {
  padding:0;
  margin:0;
}

.stylist-more-info-row {
  padding-bottom:20px;
  padding-top:20px;
}

.pricing-header.general-row {
  background-color:#30383a;
}

div.row.princing-options.general-row {
  border:1px solid #e0e0e0;
}

.pricer-footer-btn-colums.general-column {
  border-left:1px solid #cccccc;
}

.pricer-footer {
  border-left:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
}

.pricer-header-price {
  color:white;
  padding-top:10px;
}

.stylebox-display-info-rows {
  border-bottom:1px solid #e0e0e0;
  padding-top:15px;
  padding-bottom:15px;
  margin-right: 15px;
  margin-left: 15px;
}

.notesh4 {
  position: relative;
  bottom: 5px;
}

.stylebox-display-city {
  padding-right:15px;
}

.demand-btn {
  background-color:#ff6063;
  color:white;
  height:80px;
  width:100%;
  border-radius:0;
  font-size: 19px;
}

.demand-btn:hover{
  background-color:#ff8284;
  color: #fff;
}

.xs-contac-menu.general-column {
  border-top:1px solid #f0f9ff;
  border-bottom:1px solid #f9f9f9;
  background-color:white;
}

.xs-disponibility-menugeneral-column {
  border-top:1px solid #f9f9f9;
  border-bottom:1px solid #ffffff;
  border-left:1px solid #f9f9f9;
  background-color:white;
}

.xs-fixed-menu {
  position:fixed;
  bottom:0;
  width:100%;
}

.pricer-menu-icons {
  padding-top:15px;
  padding-bottom:5px;
}

@media (max-width:991px) {
  .pricer-p {
    font-size:0.8em;
  }
}

.pricer-footer-btns {
  width:100%;
  border:none;
}

.masoneryContainer{
  padding: 0;
  margin:0;
  overflow: hidden;
  border-bottom: 1px solid #ededed;
}

.sizer4{
  width:33.3333%;
}

@media (max-width:767px) {
  .sizer4{
    width:100%;
  }
}

.grid-item{
  position:relative;
  cursor:pointer;
}

@media (max-width:767px) {
  .grid-item{
    position:relative;
    cursor:pointer;
  }
}

.grid-item img{
  width:100%;
  height:auto;
  display:block;
}

.afficher{
  position: relative;
  bottom: 5px;
  font-size: 0.8em;
  color: gray;
  text-decoration: none;
}

.afficher:hover{
  color: #ff6063;
  text-decoration: none;
}

.up-div{
  width: 100%;
  text-align: center;
}

.afficherLesPhotos{
  cursor: pointer;
  color: #b0afaf;
  font-size: 2em;
  padding-left: 30px;
  padding-right: 30px;
}

.afficherPhotos{
  color: #b0afaf;
  cursor: pointer;
}

.pricing-btns{
  cursor: pointer;
}

.hidden{
  display: none;
}

.full-page{
  position: fixed;
  top:0;
  left: 0;
  overflow: auto;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 999999999999 !important;
}

.envoyer-un-message-btn, .prendre-rendez-vous-btn {
  padding:0 !important;
  margin-top: 10px;
}

.availabilities-stylist-column {
  padding:15px;
}

p.resendSms {
  padding-top:15px;
}

textarea.messageText {
  width:100%;
  height:80px;
  resize:none;
  border-radius:5px;
  padding:15px;
  border:1px solid #e0e0e0;
}

.btn:focus,.btn:active {
   outline: none !important;
}

textarea:focus{
  outline: none;
}

input:focus{
  outline: none;
}

.register-link{
  padding: 10px 10px;
  color: #6193b5;
  cursor: pointer;
}

.register-link:hover{
  color: #537b9e;
}

.glyphicon.glyphicon-ok.success-icon {
  padding:15px;
  font-size:2em;
  color:rgb(132,187,132);
}

.stylebox-fields-container {
  padding-top:50px !important;
  padding-bottom:50px;
  padding-left:50px !important;
  padding-right:50px !important;
}

@media (max-width:767px) {
  .stylebox-fields-container {
    padding-top: 0px !important;
    padding-bottom:20px;
    padding-left:20px !important;
    padding-right:20px !important;
    margin-bottom: 70px;
  }
}

.stylebox-info-input-row {
  border-radius:0px !important;
  padding-top:10px;
}

.stylebox-info-select {
  border-radius:5px !important;
  border:1px solid rgb(219,219,219) !important;
}

@media (max-width:767px) {
  .stylebox-info-select {
    border-radius:0px;
    border-top:none !important;
    border-bottom:1px solid rgb(219,219,219) !important;
    border-left:none !important;
    border-right:none !important;
  }
}

.stylebox-info-select:focus {
  border-radius:0px !important;
  border-bottom:2px solid #ff6063 !important;
}

.stylebox-create-input {
  width:100%;
  height:65px;
  border:1px solid rgb(219,219,219);
  padding:15px;
  font-size:1.2em;
}

@media (max-width:767px) {
  .stylebox-create-input {
    width:100%;
    height:65px;
    border-bottom:1px solid rgb(219,219,219);
    padding:15px;
    font-size:1.2em;
    border-top:none;
    border-left:none;
    border-right:none;
  }
}

.stylebox-create-input:focus {
  outline:none;
  width:100%;
  height:65px;
  border-top:1px solid rgb(219,219,219);
  padding:15px;
  font-size:1.2em;
  border-left:1px solid rgb(219,219,219);
  border-right:1px solid rgb(219,219,219);
  border-bottom:2px solid #ff6063;
  border-radius: 0px;
}

@media (max-width:767px) {
  .stylebox-create-input:focus {
    outline:none;
    width:100%;
    height:65px;
    border-top:none;
    padding:15px;
    font-size:1.2em;
    border-left:none;
    border-right:none;
    border-bottom:2px solid #ff6063;
    border-radius: 0px;
  }
}

.stylebox-create-textarea {
  width:100%;
  padding:15px;
  height:150px;
  resize:none;
  border:1px solid rgb(219,219,219);
}

.stylebox-create-textarea:focus {
  width:100%;
  padding:15px;
  height:150px;
  resize:none;
  border:1px solid rgb(219,219,219);
  outline:none;
}

.stylebox-create-info-column {
  background-color:#fafafa;
  height: 100vh;
  position: fixed;
  right: 0;
  overflow: hidden;
}

.stylebox-create-tutorial {
  background-color:white;
  border:1px solid rgb(219,219,219);
  width:80%;
  margin-left:auto;
  padding:30px !important;
  margin-right:auto;
  margin-top:8%;
  margin-bottom:20%;
}

.xs-field-info {
  padding:10px;
  background-color:#fafafa;
  border-radius:2px;
  border-bottom: 1px solid rgb(219,219,219);
  border-left: 1px solid rgb(219,219,219);
  border-right: 1px solid rgb(219,219,219);
}


.xs-field-info-2 {
  padding:10px;
  background-color:#fafafa;
  border-radius:2px;
  border-top: 1px solid rgb(219,219,219);
  border-left: 1px solid rgb(219,219,219);
  border-right: 1px solid rgb(219,219,219);
}

.info-icon{
  font-size: 3em !important;
  color:#6f7a85 !important;
}

.xs-field-info-p{
  color: #6f7a85;
  font-size: 0.8em;
}


/*Stylebox file input decoration */
.contSI{
  padding: 0px;
}
.stylebox-header{
height: 60px;
line-height: 60px;
width: 100%;
}

.stylebox-logo, .stylebox-text{
  font-size: 20px;
  background-color: white;
  z-index: 1;
  /*border-bottom: 1px solid #dce0e0;*/
}

.stylebox-logo{
  border-right: 1px solid #dce0e0;
}

.stylebox-logo p, .stylebox-text p{
  margin: 0px;
}

/*fillin bar*/
.fillinBar, .fillinemptyBar, .fillinFullBAr{
  height: 10px;
}

.fillinBar{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #ff5a5f;
}

.fillinemptyBar{
  background-color: #ffb7b8;
  z-index: 2;
  position: fixed;
  width: 100%;
}

.fillinFullBAr{
  background-color: #ffb7b8;
  width: 100%;
  position: fixed;
  z-index: 111;
}


/* INFO */
.guideTextHeader{
  font-weight: bold;
}
.guideSI{
  position: fixed;
  background-color: #fafafa;
  height: 100vh;
  padding: 0px;
  bottom: 0;
  left:50%
}

.stylebox-info-text{
  padding: 30px;
  background-color: white;
  border: 1px solid #dce0e0;
  border-radius: 1px;
  margin: 200px 100px 100px 100px;
}

.stylebox-info-text p{
  font-size: 16px;
  line-height: 1.43;
  color: #484848;
}


/*Title, pictures and description*/
.styleboxPlh,.priceHour, .minBudget, .styleboxSelect, .styleboxGenderSelect, .styleboxStyleSelect{
  margin-bottom: 10px;
}

.styleboxPlh{
  margin-top: 30px
}

.styleboxPlh, .priceHour, .styleboxSelect, .styleboxGenderSelect, .styleboxStyleSelect, .minBudget{
  -webkit-appearance: none;
  border: 1px solid #aaa;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #484848;
  width: 79%;
  height: 60px;
  font-size: 15px;
}

.styleboxSelect{
  cursor: pointer;
}

.styleboxSelect:hover{
  background:  #fafafa;
}

.nice-select .list, .nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option {
  width: 100%;
}

.StyleDesc{
  color: #484848;
  resize: none;
  border-radius: 2px;
  border: 1px solid #aaa;
  padding: 10px;
  width: 79%;
  height: 160px;
}

/*Bottom: div and button*/
.styleBackDiv, .styleCreateDiv, .bottomSP, .bottomSI{
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px
}

.stylePic{
  padding: 0;
  margin-top: 65px;
  margin-bottom: 100px;
}

.submitSI{
  visibility: hidden;
}

div.row.image-load-container {
  min-height:80vh;
}

.photo-bottom-menu{
  padding: 20px !important;
}

.style-left-side {
  overflow:auto;
  height:100vh;
}

.bottom-fixed-div {
  position:fixed;
  bottom:0px;
  width:48%;
  height:80px;
  z-index:99;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:20px;
  background-color: white;
}

@media (max-width:767px) {
  .bottom-fixed-div {
    position:fixed;
    bottom:0;
    width:100%;
    height:70px;
    z-index:99;
    margin-left:auto;
    margin-right:auto;
    padding: 0 !important;
    margin: 0 !important;
    background-color: white;
  }
}



.bottom-menu-row {
  height:70px;
  width:90%;
  background-color: white;
  margin-left:auto;
  margin-right:auto;
  border-top: 1px solid #ededed;
}

@media (max-width:767px) {
  .bottom-menu-row {
    height:70px;
    background-color: white;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    border-top: 1px solid #ededed;
  }
}



.small-size-btn {
  width:150px !important;
  height:60px !important;
  position: relative;
  top: 10px;
}

.large-btn {
  height:70px !important;
  border-radius:0px !important;
}

.general-back-btn {
  width:150px !important;
  height:60px !important;
  margin:15px !important;
  border:none;
  position:relative;
  bottom:3px;
}

.general-back-btn:hover {
  border:none;
  background-color:transparent;
}

.back-icon {
  font-size:1.5em !important;
  color:#282d32 !important;
  position:relative;
  top:3px;
  padding-right:10px;
}

.last-field{
  padding-bottom: 100px !important;
}

.background-helper{
  background-color: white;
}

.zimportant{
  z-index: 111;
}

.close-icon:hover{
  cursor: pointer;
}

.errorMessage{
  color: #ff6063 !important;
}

.bottom-menu-container {
  position:fixed;
  margin-right:auto;
  background-color: white;
  margin-left:auto;
  bottom:0;
  width:100%;
}

.xs-back {
  width: 100%;
  height: 70px;
  border: none;
  background-color: #00aa9c;
  border-radius: 0px;
  color: #fff;
  font-size: 19px;
  border-right: 1px solid;
}

.xs-back:hover{
  background-color: #00bcac !important;
  color: #fff !important;
}

/*INBOX STYLING*/
.inbox-heading-row {
  border-bottom:1px solid #dbdbdb;
}



@media (min-width:1200px) {
  .conversation-row {
    border-bottom:1px solid #f9f9f9;
    padding:15px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:1199px) {
  .conversation-row {
    border-bottom:1px solid #f9f9f9;
    padding:15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:991px) {
  .conversation-row {
    border-bottom:1px solid #f9f9f9;
    padding:15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .childOne{
    position: relative;
    left: 20px;
  }
}

@media (max-width:767px) {
  .conversation-row {
    border-bottom:1px solid #f9f9f9;
    padding-bottom: 15px !important;
    width: 100%;
  }

  .delete-conversation-icon{
    position: relative;
    bottom: 11px !important;
  }

  .stylebox-display-avatar-inbox{
    position: relative;
    right: 5px;
  }
}




.stylebox-display-avatar-inbox {
  width:70px;
  height:70px;
  background-size: cover;
  background-position: center;
  border-radius:50%;
  display:inline-block;
  margin:5px;
}

@media (max-width:767px) {
  .stylebox-display-avatar-inbox {
    width:40px;
    height:40px;
    background-size: cover;
    background-position: center;
    border-radius:50%;
    display:inline-block;
  }
}

.inbox-icons {
  font-size:2em !important;
}

.inbox-icons-enveloppe{
  font-size: 1.5em !important;
}

.inbox-menu-icons {
  font-size:1.5em !important;
  color:#6f7a85 !important;
  padding:15px;
}

.conversation-row:hover{
  background-color: #fafafa;
  cursor: pointer;
}

.conversation-date{
  color: #dbdbdb;
  position: relative;
  bottom: 10px;
}

.conversation-with{
  color: #dbdbdb;
}

@media (max-width:767px) {
  .conversation-with{
    color: #dbdbdb;
    font-size: 0.9em !important;
  }
}

@media (max-width:767px) {
  .inboxtitle{
    font-size: 1.3em !important;
  }
}

.conversation-last-message{
  color: #37434d;
}

@media (max-width:767px) {
  .conversation-last-message{
    color: #37434d;
    font-size: 0.8em !important;
  }
}

div.container.messenger-container {
  height:100vh;
  position:fixed;
  width:100%;
}

div.messages-container-div {
  overflow-y:auto;
  margin-left:20%;
  margin-right:20%;
  min-height:50vh;
  max-height:80vh;
}

@media (max-width:767px) {
  div.messages-container-div {
    position: relative;
    top: 15px;
    margin-left:5%;
    min-height:50vh;
    max-height:70vh;
    margin-right:5%;
    overflow-y:auto;
  }
}

div.messages-container-div-title {
  margin-left:20%;
  margin-right:20%;
  padding-bottom: 20px;
}


@media (max-width:767px) {
  div.messages-container-div-title {
    margin-left:5%;
    margin-right:5%;
    padding-bottom: 20px;
  }
}

.message-body {
  border-bottom:1px solid #f9f9f9;
  padding-bottom:15px;
}

.from-me {
  padding-bottom:15px;
}

div.not-from-me {
  padding-bottom:15px;
}

.my-text {
  color:#6f7a85;
  position: relative;
  top:10px;
}

.not-my-text {
  color:#282d32;
  position: relative;
  top:10px;
}

div.row.message-input-row {
  position:fixed;
  bottom:0;
  width:100%;
}

.message-text {
  width:100%;
  height:70px;
  margin-bottom:15px;
  padding:5px !important;
  border-bottom:none;
  border-left:none;
  border-right:none;
  border-top:1px solid #eeeeee;
}

.message-text:focus {
  outline:none;
}


.send-message-btn-proper {
  background-color:transparent;
  border:none;
  height:70px;
  margin:0 !important;
}

.send-message-btn-proper:hover {
  background-color:transparent;
  border:none;
  height:70px;
  margin:0 !important;
}

.send-message-btn-proper:focus {
  background-color:transparent;
  border:none;
  height:70px;
  outline: none;
  margin:0 !important;
}

.send-message-btn-proper:target {
  background-color:transparent;
  border:none;
  height:70px;
  outline: none;
  margin:0 !important;
}

.send-message-icon {
  padding-left:10px;
  font-size:1.8em !important;
  color:gray !important;
  position:relative;
  top:5px;
}

div.messages-avatar, .commentOwnerAva {
  width:50px;
  height:50px;
  background-position: center;
  background-size: cover;
  border-radius:50%;
}

div.eval-avatar{
  width:60px;
  height:60px;
  background-position: center;
  background-size: cover;
  border-radius:50%;
}

.commentOwnerAva {
  width:50px;
  height:50px;
  background-position: center;
  background-size: cover;
  border-radius:50%;
  display: inline-block;
}

@media (max-width:767px) {
  div.messages-avatar {
    position: relative;
    top: 4px;
    width:30px;
    height:30px;
    background-position: center;
    background-size: cover;
    border-radius:50%;
  }
}

@media (max-width:767px) {
  .newMsg-xs {
    position: relative;
    top: 30px;
  }
}

.message-time-p {
  color:#dbdbdb;
}

.newMessage{
  font-size: 0.4em !important;
  position: relative;
  bottom: 5px;
}

.newMsg-large{
  position: relative;
  top: 5px;
}

.delete-conversation-icon:hover{
  color: #3d3d3d !important;
}

.read{
  color: #00aa9c !important;
}

.notRead{
  color: #ff6063 !important;
}

.notifbox{
  background-color: #ff6063;
  border-radius:10%;
  color: white;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

h3.timer {
  padding-top:0px;
  padding-bottom:15px;
  padding-left:60px;
  margin:0;
  color:#b0afaf;
}

.demander-name {
  color:#cccccc;
  position:relative;
  bottom:10px;
}

h4.demand-date {
  margin-top:0;
}

.timer-column {
  padding-top:15px;
}

.demand-menu {
  padding-top:15px;
}

@media (min-width:1200px) {
  div.demand-style-div {
    background-color:#fafafa;
    padding-left:15px;
    border-bottom:1px solid #dddddd;
    padding-right:15px;
    padding-top:15px;
    margin-left:15%;
    margin-right:15%;
  }
}

@media (max-width:1199px) {
  div.demand-style-div {
    background-color:#fafafa;
    padding-left:15px;
    border-bottom:1px solid #dddddd;
    padding-right:15px;
    padding-top:15px;
    margin-left:10%;
    margin-right:10%;
  }
}

@media (max-width:991px) {
  div.demand-style-div {
    background-color:#fafafa;
    padding-left:15px;
    border-bottom:1px solid #dddddd;
    padding-right:15px;
    padding-top:15px;
    margin-left:0;
    margin-right:0;
  }
}

@media (max-width:767px) {
  div.demand-style-div {
    background-color:#fafafa;
    padding-left:15px;
    border-bottom:1px solid #dddddd;
    padding-right:15px;
    padding-top:15px;
    margin-left:0;
    margin-right:0;
  }
}

p.demande-header-info {
  font-size:1em;
  color:#cccccc;
  margin-bottom:0;
}

p.demand-accept-time-info {
  display:inline;
  padding-left:15px;
  position:relative;
  bottom:8px;
  color:gray;
}

div.row.demande-menu-bottom-row {
  background-color:#fffdfd;
  padding-bottom:10px;
}

div.row.demande-header-top-row {
}

div.row.demand-general-row {
  padding-top:15px;
}

p.demande-date-header {
  margin:0;
  color:#dddddd;
}

div.avatar-demand {
  width:70px;
  height:70px;
  border-radius:50%;
  display:inline-block;
  margin:5px;
  position:relative;
  bottom:20px;
  background-size: cover;
  background-position: center;
}

@media (max-width:767px) {
  div.avatar-demand {
    width:60px;
    height:60px;
    border-radius:50%;
    display:inline-block;
    background-size: cover;
    background-position: center;
    margin:5px;
    position:relative;
    bottom:20px;
  }
}

div.col-lg-8.col-md-8.col-sm-7.col-xs-12.demand-general-info-row-center {
  border-bottom:1px solid #ededed;
  padding-bottom:15px;
}

.xs-demand-header-info {
  padding-bottom:10px;
  padding-top:5px;
}

.demand-avatar-column {
  margin-bottom:0;
}

@media (max-width:767px) {
  .demand-demander-column {
    height:50px;
  }
}

.demand-block{
  padding-top: 15px;
  padding-bottom: 15px;
}

.accepted-icon{
  position: relative;
  top: 33px;
  font-size: 2em;
  color: #84bb84;
  padding-right: 15px;
}

@media (max-width:767px) {
  .accepted-icon{
    font-size: 2em;
    color: #84bb84;
    padding-right: 15px;
  }
}




@media (min-width:1200px) {
  div.demand-style-div-title {
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    margin-left:15%;
    margin-right:15%;
  }
}

@media (max-width:1199px) {
  div.demand-style-div-title {
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    margin-left:10%;
    margin-right:10%;
  }
}

@media (max-width:991px) {
  div.demand-style-div-title {
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    margin-left:0;
    margin-right:0;
  }
}

@media (max-width:767px) {
  div.demand-style-div-title {
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    margin-left:0;
    margin-right:0;
  }
}

.edit, .delete{
  color: gray;
  font-weight: bold;
  padding-right: 15px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

textarea.eval-comment-text {
  width:100%;
  height:120px;
  border:none;
  resize:none;
  padding:15px;
  outline:none;
  margin-top:15px;
  border:1px solid rgb(245,242,242);
}

div.row.stylebox-display-info {
  padding-top:15px;
  padding-bottom:15px;
}

p.paragraphzero {
  padding:0;
  margin:0;
}

div.notationdiv {
  padding:15px;
  margin-left:15%;
  margin-right:15%;
  border-bottom:1px solid rgb(242,241,241);
}

@media (max-width:767px) {
  div.notationdiv {
    padding:15px;
    margin-left:auto;
    margin-right:auto;
  }
}

.leaveReview{
  font-size: 1.8em;
  font-weight: bold;
}

@media (max-width:767px) {
  .leaveReview{
    font-size: 1.6em;
    font-weight: bold;
  }
}

.evaluerblockpadding{
  margin-top: 15px !important;
}

.leaveComment{
  font-size: 1.3em;
  font-weight: bold;
  color: gray;
  padding-bottom: 0;
  margin-bottom: 0;
}

.dem-page{
  padding-bottom: 200px;
}

.paginationdiv{
  padding-top: 20px;
  padding-bottom: 40px;
}

#listitems{
  list-style-type: none;
  list-style: none;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width:767px) {
  .listitems{
    list-style-type: none;
    list-style: none;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.pagenavlinks{
  font-size: 1.2em;
  color: gray;
}

.pagenavlinks:hover{
  font-size: 1.2em;
  color: gray;
  cursor: pointer;
  text-decoration: none;
}

.previous{
  padding-right: 30px;
}

.next{
  padding-left: 30px;
}

.close-conversation{
  cursor: pointer;
}

.home-xs-search-container{
  position: relative;
  bottom: 55px;
}

.intercaler{
  display: inline-block;
  height: 60px;
}

.masonryContainer1, .masonryContainer2, .masonryContainer3, .masonryContainer4{
  overflow: hidden;
  height: auto;
  margin-bottom: 12px;
}

#gallery{
  padding:0;
}

.item-masonry{
  position:relative;
  /*margin:0.1%;*/
  cursor:pointer;
}

.item-masonry img{
  width:100%;
  height:auto;
  display:block;
}

.sizer4{
  width:33.33%;
}

.dressCodeTitle{
  background-color: rgba(0,0,0,0.6);
  z-index: 99999;
  padding: 26px;
  width: 100%;
  position: absolute;;
  text-align: center;
  top: 0px;
}

.styledescription{
  color: #3d3d3d;
  font-size: 3em;
  background-color: white;
  width: 100%;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width:767px) {
  .styledescription{
    color: #3d3d3d;
    font-size: 1.5em;
    background-color: white;
    width: 100%;
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.searchbarpadding{
  height: 60px;
}

.dressCodeTitle p{
  color: #ffffff;
  font-size: 30px;
}

.pricexs{
  padding: 0px 11px;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.69);
}

.pricexsp{
  position: relative;
  top: 8px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

div.avatardemand {
  width:80px;
  height:80px;
  border-radius:50%;
  margin-top:10px;
  display:inline-block;
  background-size: cover;
  background-position: center;
}

@media (min-width:1200px) {
  .demandbox{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ededed !important;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }
  .etladate{
    position: relative;
    top:5px;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    color: gray;
  }
}

@media (max-width:1199px) {
  .demandbox{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ededed !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .etladate{
    position: relative;
    top:5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    color: gray;
  }
}

@media (max-width:991px) {
  .demandbox{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ededed !important;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .etladate{
    position: relative;
    top:5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    color: gray;
  }
}

@media (max-width:767px) {
  .demandbox{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ededed !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .etladate{
    position: relative;
    top:5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    color: gray;
  }
}

.declinebtn{
  padding: 7px;
  margin: 7px;
  background-color: #ff6063;
  color: white;
  border: 1px solid #ededed !important;
}

.acceptbtn{
  padding: 7px;
  margin: 7px;
  background-color: #4ebf8a;
  color:white;
  border: 1px solid #ededed !important;
}


@media (max-width:767px) {
  .midleinfo{
    border-bottom: 1px solid #ededed !important;
    border-top: 1px solid #ededed !important;
    padding-top: 10px;
  }
}

@media (max-width:767px) {
  .midleinfo2{
    border-top: 1px solid #ededed !important;
    padding-top: 10px;
  }
}

@media (max-width:767px) {
  .lastinfo{
    padding-top: 10px;
  }
}

.userevalrow{
  padding-top: 20px;
}

.commentRow{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.commentrow{
  border-bottom: 1px solid #ededed;
}

.commentCreatedDate{
  color: #ededed;
  font-size: 0.8em;
}

.commentbody{
  position: relative;
  top:15px;
  color: gray;
}

.commentTitle{
  padding-top: 20px;
  padding-bottom: 20px;
}


@media (min-width:1200px) {
  .commentRow{
    width: 78%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:1199px) {
  .commentRow{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-width:991px) {
  .commentRow{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:767px) {
  .commentRow{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
  }
}

.text-apropose{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:767px) {
  .text-apropose{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

a:link{
  text-decoration: none;
}


/*CODE DE MAGOMED SOULEYMANOV NEW*/

.importantzindex{
  z-index: 999999999999 !important;
}

.importantzindex2{
  z-index: 9999999 !important;
}

.photos-page-container-div{
  margin-top: 20px;
  margin-bottom: 90px;
}

.fileinputicons{
  color: white !important;
  font-size: 1.2em !important;
}

.errmsg{
  font-size: 1.4em !important;
  padding-left: 20px;
  padding-right: 20px;
}

.errmsgc{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media (max-width:767px) {
  .errmsgc{
    width: 100%;
  }
}

div.errmsgdiv {
  margin-left:20%;
  margin-right:20%;
  padding-bottom: 20px;
}

@media (max-width:767px) {
  div.errmsgdiv {
    margin-left:5%;
    margin-right:5%;
    padding-bottom: 20px;
  }
}

.lostpassworda{
  padding-top: 15px;
  display: inline-block;
  color: gray;
  font-size: 0.8em;
}

.success-msg {
  padding:10px;
  color:#ff6063;
}

.decline-demand, .accept-demand {
  outline: none;
}

.overflowsettings{
  overflow: hidden;
  position: fixed !important;
  top: 0;
  left: 0;
  height: 50vh !important;
}

.demand-scroller{
}

/*#00aa9c vert
00d3c5 hover vert*/
