

.tutorialContainer, .imgTutoRow, .tutorialContainerMain{
  margin-left: 0;
  margin-right: 0;
}

.relooking-img{
  padding-left: 150px;
  height: 400px;
  display: flex;
  align-items: center;
}

.relooking-img img, .imgTutoRow img{
  max-width: 100%;
  max-height: 100%;
}

.genTuto{
  margin:0;
  border-bottom: 1px solid #e8e8e8;
  width: 100%
}
.defTutot{
 border-bottom: 0px;
}

.descTuto{
  padding: 60px 0;
}

.mdTutoLook, .mdTutoChoisirRelooker, .mdTutoRecherche, .mdTutoRDV, .mdTutoFinal{
  display : flex;
  align-items : center;
  height: 400px;
}

.smTuto{
  margin: 10 10
}

.defMot{
  font-weight: 900;
}

.tutoImg1{
  position: relative;
  margin-left: 165px;
  margin-top: 50px;
}

.imgTutoRow{
  padding: 0 10px 10px 10px;
  text-align: center;
}

.tutoSubject{
  margin-bottom: 30px;
  text-align: center;
}

.xsTextdiv{
  text-align: left;
}
