<link rel="stylesheet" href="/css/footer.css">
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 item text">
                    <h3>FASON </h3>
                    <p>Fason est une place de marché mode. Fason met en relation les relookers particuliers et les personnes qui souhaitent se faire accompagner pour le shopping, mettre en valeur la garde-robe ou un shopper personnel. De plus, nos relookers particuliers vous proposent les soins esthétiques.</p>
                </div>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>Informations</h3>
                    <ul>
                        <li><a href="/apropos">A propos</a></li>
                        <li><a href="/team">L'equipe </a></li>
                        <li><a href="/contacter">Contactez-nous </a></li>
                        <li><a href="/conditions">Conditions générales</a></li>
                    </ul>
                </div>

            </div>
            <p class="copyright">Fason COPYRIGHT © 2017</p>
        </div>
    </footer>
</div>
