<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 item text">
                    <h3>FASON : Personal Stylists, Personal Shoppers</h3>
                    <p>Fason est la première startup de la mode qui vous met en relation avec des personal stylists. Ils vous aideront à trouver un look en adéquation avec votre image et vos goûts, tout en optimisant votre temps et budget.</p>
                </div>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>Informations</h3>
                    <ul>
                        <li><a href="/apropos">A propos</a></li>
                        <li><a href="/team">Equipe </a></li>
                        <li><a href="/contacter">Contactez-nous </a></li>
                        <li><a href="/conditions">Conditions générales</a></li>
                    </ul>
                </div>

            </div>
            <p class="copyright">Fason copyright © 2017</p>
        </div>
    </footer>
</div>
<link rel="stylesheet" href="/css/footer.css">
