
<style media="screen" type="text/css">

.loadpage{
  position: relative;
  width: 100% !important;
  height: 100vh !important;
  z-index: 9999999;
}

.loader{
  position: absolute !important;
  bottom: 50% !important;
}

</style>

<div class="row text-center loadpage">
  <img src="/images/loader.gif"  class="loader" alt="loading">
</div>
