
<style media="screen" type="text/css">

.loading-row {
  margin-top:17%;
  width: 100%;
}

.pcolors{
  text-align: center !important;
  font-family: 'Nunito' !important;
  color: #adabab;
}
.paragraphdecale {
  padding-top:30px;
  font-size:1.3em;
}

.preloaderimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
<div class="loading-row">
    <img class="preloaderimg" src="/images/preloader.gif"></br>
    <p class="paragraphdecale pcolors">Votre premier visite peut prendre une dixanes de secodes de chargement.</p></br>
    <p class="pcolors">Fason se configure pour une navigation fluide et agréable par la suite.</p></br>
    <p class="pcolors">Merci pour votre patience !</p>
</div>
