
<style media="screen" type="text/css">

.loadpage{
  position: relative;
  width: 100% !important;
  height: 100vh !important;
  z-index: 9999999;
}

.loadingtext{
  font-size: 0.9em;
  color: gray;
}

.loader{
  position: absolute !important;
  top: 50% !important;
}

.load{
  position: relative;
  top: 100px;
}

</style>
<div class="row text-center loadpage">
  <img src="/images/preloader.gif" class="load" alt="loading">
  <p class="loadingtext">Votre premier visite peut prendre une dixaines de secondes</br>
  Fason se configure pour une navigation fluide et agréable par la suite</p>
</div>
