
<style media="screen" type="text/css">

.row.loading-row.text-center {
  margin-top:17%;
}
p{
  font-family: 'Nunito' !important;
  color: #adabab !important;
}

.paragraphdecale {
  padding-top:30px;
  font-size:1.3em;
}

</style>
<div class="row loading-row text-center">
    <div class="col-md-12"><img src="/images/preloader.gif"></div>
    <div class="col-md-12">
        <p class="paragraphdecale">Votre premier visite peut charger une dixanes de secodes.</p>
        <p>Fason se configure pour une navigation fluide et agréable par la suite.</p>
        <p>Merci pour votre patience !</p>
    </div>
</div>
