    <div class="container messenger-container">
        <div class="row text-left close-row close-conversation">
            <div class="col-md-12"><i class="fa fa-times close-conversation"></i></div>
        </div>
        <div class="messages-container-div">
        </div>
        <div class="row message-input-row">
            <div class="col-lg-7 col-lg-offset-2 col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 col-xs-9">
                <input type="text" class="message-text mainLoginInput message-text-body" placeholder="Entrez votre message ici">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 general-column">
                <button class="send-message-btn-proper">Envoyer</button>
            </div>
        </div>
    </div>
