
<div class="row text-left close-row">
    <div class="col-md-12"><i class="fa fa-times close-icon-hider"></i></div>
</div>
<div class="container" id="login-container">
  <h2 class="login-register-title text-center">Poser une question</h2>
  <div class="row general-row">
      <div class="text-center">
          <div class="stylebox-display-avatar" {{#if stylist.avatar}} style="background-image: url({{stylist.avatar}})" {{else}} style="background-image: url(/images/noavatar.png)"{{/if}}></div>
          <h4 class="availability-contact-demand-firstName">{{stylist.lastName}}</h4>
      </div>
  </div>
    {{#if user}}
    <p class="logn-register-paragraph">Envoyez un premier message à votre relooker et commencez la conversation. Une fois le message est envoyé, vous pourrez communiquer directement dans le messenger de Fason.</p>
    <div class="row envoyer-un-message-btn login-register-btn-row">
        <div>
            <textarea class="messageText mainLoginInput" placeholder="Tapez votre message ici."></textarea>
        </div>
    </div>
    <div class="row login-register-btn-row text-right">
        <div>
            <button class="btn btn-default login-register-btn message-submit-btn" type="button">Envoyer</button>
        </div>
    </div>
    {{else}}
    <div class="row login-register-btn-row">
      <p class="logn-register-paragraph">Pour contacter le relooker conectez-vous ou inscrivez-vous sur Fason.</p>
        <!-- <div> -->
            <!-- <button class="btn btn-default login-register-btn connection-btn" type="button">Envoyer</button> -->
            <p class="register-link">Je n'ai pas de compte sur Fason</p>
        <!-- </div> -->
    </div>
    {{/if}}
</div>
