
<div class="row text-left close-row">
    <div class="col-md-12"><i class="icon ion-android-close close-icon"></i></div>
</div>
<div class="container" id="login-container">
    <h2 class="login-register-title">Créer un compte</h2>
    <p class="logn-register-paragraph">Communiquez les vrais informations en remplissant les champs suivants.</p>
    <div class="row errorsBlock hiddenclass">
    </div>
    <div class="row login-container-row text-center">
      <img class="stylebox-display-avatar select-avatar" src="https://s3.amazonaws.com/styleboxphotosbianor/1fd5ea496ca11a97198aa3cdd3d7f8cb.png">
      </img>

      <form  method="post" action="/users/setavatar", enctype="multipart/form-data">
        <input type="text" name="userId" class="hidden useridtoserver">
        <input type="text" name="userType" class="hidden userType">
        <input type="file" class="avatarUpload hidden" name="displayImage">
        <input type="submit" value="Submit" class="hidden submitavatar">
      </form>
      <p>Sélectionnez un avatar</p>
    </div>
    <div class="row login-container-row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="icon ion-ios-person-outline firstname-icon"></i></div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
            <input id="firstName" class="input-sm mainLoginInput login-register-text-field" type="text" placeholder="Nom">
        </div>
    </div>
    <div class="row login-container-row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="icon ion-ios-personadd-outline lastname-icon"></i></div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
            <input id="lastName" class="input-sm mainLoginInput login-register-text-field" type="text" placeholder="Prénom">
        </div>
    </div>
    <div class="row login-container-row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-map-marker"></i></div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
            <input id="userCity" class="input-sm mainLoginInput login-register-text-field city-search" type="text" inputmode="text" value="Paris, France" placeholder="Ville de résidence" disabled>
        </div>
    </div>
    <div class="row login-container-row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-envelope-o email-icon"></i></div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
            <input id="userEmail" class="input-sm mainLoginInput login-register-text-field" type="text" inputmode="email" placeholder="E-mail">
        </div>
    </div>
    <div class="row login-container-row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-mobile-phone phone-icon"></i></div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
            <input id="userPhone" class="input-sm mainLoginInput login-register-text-field" type="text" inputmode="tel" placeholder="Numéro de portable">
        </div>
    </div>
    <div class="row login-container-row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-ellipsis-h password-icon"></i></div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
            <input id="userPassword" class="input-sm mainLoginInput login-register-text-field" type="text" minlength="6" placeholder="Mot de passe">
        </div>
    </div>
    <div class="row login-container-row user-type">
      <!-- to get value use $(".user-type input[type='radio']:checked").val() -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="radio" name="iCheck" class="user-type-checkbox" value="client"> <p class="inlinetext checkboxestext">Client </p></input>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="radio" name="iCheck" class="user-type-checkbox" value="stylist"> <p class="inlinetext checkboxestext">Relooker</p></input>
      </div>
    </div>
    <div class="row login-container-row conditions">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- to take the value use .is(":checked") -->
        <input type="checkbox"><p class="inlinetext checkboxestext">J'accepte les conditions générales d'utilisation</p></input>
      </div>
    </div>
    <div class="row login-register-btn-row text-right">
        <div>
            <button class="btn btn-default login-register-btn register-btn" type="button">S'inscrire</button>
        </div>
    </div>
</div>
