<link rel="stylesheet" href="../css/fileinput.min.css">
<script src="../js/stylebox-pics.js"></script>
<script src="../js/fileinput.js"></script>
<script src="../js/themes.js"></script>
<div class="container photos-page-container-div">
  <input id="input-44" name="input44[]" type="file" multiple enctype="multipart/form-data" class="file-loading" accept="image/*">
</div>
<div class="container bottom-menu-container hidden-xs">
    <div class="row bottom-menu-row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-left general-column background-helper">
            <button class="btn btn-default hidden-xs general-back-btn back-btn" type="button"><i class="fa fa-arrow-left back-icon"></i> Revenir</button>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 text-right general-column background-helper">
            <button class="btn btn-default hidden-xs small-size-btn login-register-btn createSP" type="button">Publier </button>

        </div>
    </div>
</div>
<div class="bottom-fixed-div visible-xs-block">
  <div class="row bottom-menu-row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-left general-column background-helper">
          <button class="btn btn-default visible-xs-block xs-back back-btn" type="button">Revenir </button>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 text-right general-column background-helper">
          <button class="btn btn-default visible-xs-block large-btn login-register-btn createSP" type="button">Publier</button>
      </div>
  </div>
</div>
